[2019-09-05 17:22] federico-terzi opened #1 "Add Accessibility check on MacOS on startup"

[2019-09-05 17:23] federico-terzi opened #2 "Add Key sequence to disable/enable substitution"
For example, double ALT press.

[2019-09-05 19:52] federico-terzi opened #3 "Add Modifier keys support on Linux"

[2019-09-05 21:02] federico-terzi opened #4 "Remove MacOS redundant prints"

[2019-09-05 21:30] federico-terzi opened #5 "Add check to make sure only one instance of espanso is running"

[2019-09-06 08:48] federico-terzi opened #6 "Add newline support on Linux"

[2019-09-06 08:48] #2 closed, assigned to nobody

[2019-09-06 20:19] #6 closed, assigned to nobody

[2019-09-06 20:38] #3 closed, assigned to nobody

[2019-09-06 21:34] federico-terzi opened #7 "Move keyboard modules initialize call inside getter"

[2019-09-06 22:38] federico-terzi opened #8 "Add clipboard backend support on Windows"

[2019-09-06 22:39] federico-terzi opened #9 "Add clipboard backend on MacOS"

[2019-09-06 22:39] federico-terzi opened #10 "Add backend configuration option"

[2019-09-06 22:40] federico-terzi opened #11 "Add app specific configurations"
To solve the Telegram desktop ( QT ) problem on Linux with unicodes

[2019-09-07 08:43] #10 closed, assigned to nobody

[2019-09-07 08:56] federico-terzi opened #12 "Detect a terminal window on linux to specifically change paste shortcut"

[2019-09-07 11:30] federico-terzi opened #13 "Move extern declarations from keyboard module to bridge in Windows"

[2019-09-07 11:30] federico-terzi opened #14 "Move extern declarations from keyboard module to bridge in MacOS"

[2019-09-07 11:56] federico-terzi opened #15 "Add logic in ConfigSet methods to determine which Config to use"

[2019-09-07 16:23] federico-terzi opened #16 "Add option to avoid merging parent matches"

[2019-09-07 16:23] federico-terzi opened #17 "Add match merging with parent configuration, with caching"

[2019-09-09 13:15] #13 closed, assigned to nobody

[2019-09-09 13:15] #14 closed, assigned to nobody

[2019-09-09 15:01] federico-terzi opened #18 "Make the trigger_paste() method capable of detecting different keyboard layouts for the V key on MacOS"
The `trigger_paste()` method of the `libmacbridge` assumes that the V virtual key ( used to simulate the CMD+V paste shortcut ) is placed in the same spot as in the US keyboard layout. This is not always true, and depends on the specific layout used.

To make espanso more general, detect the current keyboard layout and correct the V virtual key.

[2019-09-09 15:04] #9 closed, assigned to nobody

[2019-09-09 18:41] #11 closed, assigned to nobody

[2019-09-09 18:42] #15 closed, assigned to nobody

[2019-09-09 18:49] federico-terzi opened #19 "Add TrayIcon on Windows while espanso is running"

[2019-09-09 18:50] federico-terzi opened #20 "Add status bar icon on MacOS while espanso is running"

[2019-09-13 12:44] #19 closed, assigned to nobody

[2019-09-13 12:44] #20 closed, assigned to nobody

[2019-09-13 13:36] federico-terzi opened #21 "Add the "espanso detect" command to easily get title, executable and class of application to build filters"

[2019-09-13 21:05] #1 closed, assigned to nobody

[2019-09-13 21:05] #12 closed, assigned to nobody

[2019-09-13 21:30] #21 closed, assigned to nobody

[2019-09-13 21:57] #7 closed, assigned to nobody

[2019-09-13 21:58] #4 closed, assigned to nobody

[2019-09-13 22:00] federico-terzi opened #22 "Create "espanso status" command to check if espanso is currently running or not"

[2019-09-13 22:01] federico-terzi opened #23 "Create "espanso start" to dispatch the daemon server ( if not already started )"

[2019-09-13 22:01] federico-terzi opened #24 "Create "espanso stop" command to stop the espanso daemon ( if running )"

[2019-09-13 22:04] federico-terzi opened #25 "Make the "espanso" command ( without arguments ) default to "espanso start""

[2019-09-13 22:38] #5 closed, assigned to nobody

[2019-09-13 22:38] #22 closed, assigned to nobody

[2019-09-14 07:33] federico-terzi opened #26 "Create "espanso restart" command to stop and start the daemon"

[2019-09-14 07:49] federico-terzi opened #27 "Make the "zip" dependency MacOS-specific"

[2019-09-14 19:39] federico-terzi opened #28 "Add IPC support on Windows"

[2019-09-14 19:39] #23 closed, assigned to nobody

[2019-09-14 19:39] #24 closed, assigned to nobody

[2019-09-14 19:39] #26 closed, assigned to nobody

[2019-09-14 20:14] #16 closed, assigned to nobody

[2019-09-14 20:14] #17 closed, assigned to nobody

[2019-09-15 07:42] federico-terzi opened #29 "Improve MacOS accessibility flow by prompting the user with instructions if needed."
https://stackoverflow.com/questions/17693408/enable-access-for-assistive-devices-programmatically-on-10-9

[2019-09-15 08:24] federico-terzi opened #30 "Think about converting the static library linking to dynamic on Windows"

[2019-09-15 09:02] federico-terzi opened #31 "Check presence of xclip and notify-send at startup"

[2019-09-15 09:05] federico-terzi opened #32 "Make daemon detach from the spawning console ttys"

[2019-09-15 11:30] federico-terzi opened #33 "Load only yaml files when reading config directory"

[2019-09-15 12:46] federico-terzi opened #34 "Implement start subcommand on Windows"

[2019-09-15 13:51] #33 closed, assigned to nobody

[2019-09-15 14:04] #32 closed, assigned to nobody

[2019-09-15 14:04] #31 closed, assigned to nobody

[2019-09-15 14:43] #25 closed, assigned to nobody

[2019-09-15 15:42] federico-terzi opened #35 "Add license information in all code files"

[2019-09-15 16:29] #35 closed, assigned to nobody

[2019-09-16 08:05] federico-terzi opened #36 "The disable/enable notification steal focus from the current window, preventing correct typing"

[2019-09-16 08:16] #28 closed, assigned to nobody

[2019-09-16 08:19] #36 closed, assigned to nobody

[2019-09-16 08:56] #34 closed, assigned to nobody

[2019-09-16 09:02] #30 closed, assigned to nobody

[2019-09-16 09:35] #8 closed, assigned to nobody

[2019-09-16 13:13] federico-terzi opened #37 "Add credits to ModifyPath to README"
https://www.legroom.net/software/modpath

[2019-09-16 13:19] federico-terzi opened #38 ""start" subcommand cannot start daemon when shell current directory is not the one containing espanso"

[2019-09-16 13:21] federico-terzi opened #39 "Add icon to windows release binary"

[2019-09-16 14:36] #39 closed, assigned to nobody

[2019-09-16 14:39] #38 closed, assigned to nobody

[2019-09-22 08:06] federico-terzi opened #40 "Tray Icon disappear when Explorer reboots"
espanso needs to handle the WM_TASKBARCREATED message

[2019-09-22 11:56] federico-terzi opened #41 "Command "espanso start" not working as expected"

[2019-09-22 13:08] #41 closed

[2019-09-22 14:14] federico-terzi opened #42 "Add documentation link to default config file"

[2019-09-23 17:50] federico-terzi opened #43 "Change espanso configuration format extension from .yaml to .yml"

[2019-09-23 19:40] federico-terzi opened #44 "Update "Create a Package" link on espanso hub"

[2019-09-23 19:41] federico-terzi opened #45 "Fill the "Basic Usage" section of the documentation"

[2019-09-23 19:41] federico-terzi opened #46 "Add package search bar to espanso hub"

[2019-09-23 20:07] federico-terzi opened #47 "Add filter_os to filter operating system in Configs"

[2019-09-27 20:56] federico-terzi opened #48 "Add icon to notify-send notification"
Using the -i option, such as:
[code]

[2019-09-27 22:36] #42 closed

[2019-09-27 22:36] #43 closed

[2019-09-28 07:47] federico-terzi opened #52 "Add newline after printing long help on "espanso" command without options"

[2019-09-28 09:08] #37 closed

[2019-09-28 09:08] #48 closed

[2019-09-28 09:08] #52 closed

[2019-09-28 16:32] federico-terzi opened #54 "Date extension does not consider current timezone"

[2019-09-29 15:58] federico-terzi opened #55 "Install packages from Repositories outside espanso hub."

[2019-09-29 16:10] federico-terzi opened #56 "Add table style on Espanso Hub"

[2019-09-29 16:11] #45 closed

[2019-09-29 16:46] #44 closed

[2019-09-30 20:49] federico-terzi opened #57 "Add icon context menu entry to restart espanso"

[2019-09-30 21:07] #40 closed

[2019-09-30 21:07] #54 closed

[2019-10-02 19:35] federico-terzi opened #59 "Update MacOs installation with "espanso start" instead of register"

[2019-10-02 19:36] federico-terzi opened #60 "Add ip extension to obtain local and public IP for any interface"

[2019-10-03 10:29] federico-terzi opened #61 "Update linux docs to include user-only installation ( without sudo )"

[2019-10-03 13:15] telmotrooper opened #62 "Feature request: Selection match and replace, a.k.a. passive mode"
Hello, thank you for your work on espanso (the site looks quite professional too).

While I do like the application as is, I don't quite like having to wait for the application to replace my match as soon as I type it.

Would you consider adding a "passive" mode, where I run espanso over a text selection and only then it replaces the matches it finds? It could be triggered with a hotkey for exampl

[2019-10-03 13:29] telmotrooper opened #63 "Feature request: Uninstall option for packages"
Right now we can programmatically install a package, but not uninstall it.

For some reason the `basic-emojis` package is slow in my computer so I ended up removing its folder from `~/.espanso/packages` manually.

[2019-10-03 16:21] federico-terzi opened #64 "Add checksums in releases ( and linux docs instructions )"

[2019-10-03 16:26] federico-terzi commented on #63
Hi,
Thank you very much for the feedback.
Right now you can uninstall a package using this command:

[code]
At this point it's clear that it's not a user friendly naming choice, so in the next release I will make this command available:

[code]
This should solve the issue.

Another question, which operating system do you use? Because if you are using linux, the slow emojis could be solved with a s

[2019-10-03 16:34] telmotrooper commented on #63
@federico-terzi Yes, I'm using Arch Linux. What option is it?

[2019-10-03 16:44] federico-terzi commented on #62
Hi, thanks a lot for the feedback!
Ok so let's formalize this idea. Please tell me if this is what you mean:

### Passive Mode Proposal
Changes: Avoid replacing the match as soon as the user finishes typing it.
Actions required:
* The user selects some text containing a keyword
* The user press a keyboard shortcut ( for example CTRL + CTRL )
* If the selected text matches a keyword, espanso replac

[2019-10-03 16:48] federico-terzi commented on #63
Ok, in that case, you can try with `backend` option:

In your `default.yml` configuration file, add the following option:

[code]

And then restart espanso.

On linux, unfortunately, the default backend is not working super well ( compared to Windows or macOS ) while the "Clipboard" backend works much better. I'm considering making it the default one on Linux, but I wanted to receive some feedback

[2019-10-03 16:51] telmotrooper commented on #62
Mostly yes, but I actually mean for the user to select the whole text block that contains the matches.

**Example:**

The user is writing a message, he then uses Ctrl + A to select the whole text block:
[code]
When he presses Ctrl + Ctrl (as you suggested) the text becomes:
[code]

Of course if the code block is too big it will probably take longer for the application to run, but in such cases the

[2019-10-03 16:57] telmotrooper commented on #63
With `backend: Clipboard` it does indeed work much faster, but for some reason does not work in GNOME Terminal (it erases the text but does not add the emoji(s)).

I'd say it's a sane default for Linux, but you should probably add that bit of information in the documentation.

[2019-10-03 17:08] federico-terzi opened #65 "Clipboard backend is not correctly working with GNOME terminal"

[2019-10-03 17:08] federico-terzi commented on #63
Thanks for the feedback, I will work about that issue.
Regarding the integration with the GNOME terminal, [this bug](https://github.com/federico-terzi/espanso/issues/65) should be easily solvable. In the next release I will fix it.

[2019-10-03 17:10] federico-terzi commented on #62
Ok, I finally understood your idea. It's pretty good, thanks for the suggestion.
I will definitely add it to the Roadmap!

[2019-10-03 17:46] federico-terzi opened #66 "SystemManager does not detect Window attributes on Ubuntu"
A good starting point would be using the `xdo_get_active_window` function instead.
[Example usage](https://github.com/jordansissel/xdotool/blob/89cb4cf5fd8b27058491fda8294b184f70b31076/cmd_getactivewindow.c)

[2019-10-03 17:47] federico-terzi opened #67 "Possible memory leak in the "espanso detect" subcommand."
After a few minutes, the commands starts printing "Maximum number of clients reached"

[2019-10-03 17:54] federico-terzi opened #68 "Add espanso to AUR"
Some good starting points would be these projects:
mdcat, alacritty and ugdb

[2019-10-03 18:04] federico-terzi commented on #67
This is probably due to this return line: https://github.com/federico-terzi/espanso/blob/a59377993528857745ca1aed75c0058b2823963d/native/liblinuxbridge/bridge.cpp#L356
That when called, prevents the XCloseDisplay() call from being executed.

[2019-10-04 14:12] federico-terzi opened #69 "Add explicit versions in website download ( avoid latest )"

[2019-10-04 19:25] federico-terzi opened #70 "Add warning in Linux docs about Wayland support"

[2019-10-04 20:22] #66 closed

[2019-10-04 20:22] #67 closed

[2019-10-04 20:22] #63 closed

[2019-10-04 20:22] #65 closed

[2019-10-04 20:44] #61 closed

[2019-10-04 20:44] #70 closed

[2019-10-04 20:44] #59 closed

[2019-10-06 13:02] federico-terzi opened #72 "When the user changes the keyboard layout, espanso must be restarted to work correctly"

[2019-10-07 03:54] ericonr opened #73 "Use XDG_CONFIG_HOME for storing user configurations"
Hey there!

For Linux, there's a standard that's usually followed for configuration files, which avoids filling up the user's home directory. There's usually a hierarchy of locations where these files will be searched for, which for espanso could go something like this:

* `$XDG_CONFIG_HOME/espanso`
* `$HOME/.config/espanso`
* `$HOME/.espanso`

Following this structure is great, because it allows

[2019-10-07 10:15] federico-terzi commented on #73
Hi,
First of all, thank you very much for the great feedback!
This change could definitely improve the Linux experience and I'm looking forward to developing the feature.
I could develop it in a few days, but if you want to give it a try I can wait. Have you ever used Rust? Otherwise, I can give you a few hints on where you should start looking up in the codebase, it should be an easy change.

PS:

[2019-10-07 10:44] federico-terzi opened #74 "Telegram Desktop client crashes when expanding :date"

[2019-10-07 21:07] wezm commented on #68
Someone has added it: https://aur.archlinux.org/packages/espanso/

[2019-10-07 21:27] federico-terzi commented on #68
Wow, that's amazing! Thank you very much for letting me know

[2019-10-08 01:05] gahag commented on #73
I'm willing to have a go at this. Can I?

[2019-10-08 07:13] federico-terzi commented on #73
Hi @gahag,
I would wait for a response from @ericonr for a couple of days as he originally proposed this change and shown interest in implementing it.
That said, this should be an easy feature to develop. I will create in the next few days a `contributing` page with compilation instructions, but for now, here's a short summary:

* Compilation: espanso requires rust, cmake and a c++ compiler to wor

[2019-10-08 13:25] epmills opened #75 "Doc Typo: "br" not "bs""
Found I believe a typo in the documentation but was not able immediately to find documentation source in github (did I miss it?).

The last sentence of the _Creating your own Match_ section should ready `:br` and not `:bs`, correct?

Echoing what others have said, very impressive concept with really nice documentation!

[2019-10-08 13:52] asimpson opened #76 "How to escape characters in config."
If I have the following config:
[code]
When I type `\e` the expansion is `/xpand`.

[2019-10-08 14:03] federico-terzi commented on #76
Hi,
Thank you for reporting the problem. Which operating system are you using?
I quickly tried it on Windows and is working as expected, I'm not experiencing the problem.
I suspect it is a platform-specific bug.

[2019-10-08 14:05] federico-terzi commented on #75
Hi @epmills ,
Thank you very much for your help, that's definitely a typo. I will fix it asap.

[2019-10-08 14:27] asimpson commented on #76
Thanks for looking into it!

Ubuntu 19.

That's a bummer.

[2019-10-08 15:26] federico-terzi commented on #73
@gahag thanks again, I'll surely do! :)

[2019-10-08 15:28] federico-terzi commented on #76
@asimpson alright, I'll look into it in the next few days. Thanks for your feedback!

[2019-10-08 16:40] Kwelity opened #78 "Allow UTF8 character in Match"
When trying to add special character, the program can't load the config

`espanso log`

output:

[code]

the config tested:

[code]

The character ¦ seems to be problematic due to its size.

My OS is linux, espanso was install from the aur package (version 0.2.3 slightly outdated but the change log doesn't mention my problem)

Why?

It would allow us to start a sequence with non common character,

[2019-10-08 17:48] Scrumplex commented on #68
I added a few variations of the package to the AUR.

This now includes:
 - [espanso](https://aur.archlinux.org/packages/espanso/)<sup>AUR</sup> - Builds from latest (stable) release
 - [espanso-git](https://aur.archlinux.org/packages/espanso-git/)<sup>AUR</sup> - Builds from latest commit (in master branch)
 - [espanso-bin](https://aur.archlinux.org/packages/espanso-bin/)<sup>AUR</sup> - Downloads

[2019-10-08 19:33] asimpson commented on #76
Apprecaite it! Wish I knew enough Rust to provide a failing test or fix it myself.

[2019-10-08 19:47] federico-terzi commented on #78
Hi @Kwelity,
Thanks for pointing that out, it's definitely a bug.
I will investigate further

[2019-10-08 20:41] federico-terzi opened #79 "Add contributors to README"

[2019-10-08 20:44] federico-terzi commented on #68
This is wonderful, thank you very much @Scrumplex
In the next few days, I will update the documentation for Arch/Manjaro users.
In your opinion, which of these 3 options should be the recommended way to install espanso?

[2019-10-08 22:47] federico-terzi commented on #73
Hi guys, here's a quick update:

Many people pointed out this problem and I also received a pull request about it ( #77 ).
At the end of the day, it turned out more complex than expected, so I decided implement the solution myself using your great feedbacks.
The new espanso version ( v0.3.0 ) should be released by the end of the week with this fix, without breaking existing espanso configuration (

[2019-10-09 08:26] federico-terzi opened #80 "Add Systemd integration with espanso"

[2019-10-09 14:05] Scrumplex commented on #68
I think you should generally recommend using espanso-bin, as you recommend your pre-compiled binaries for other platforms, too, but should definitely mention, that there are also `espanso` and `espanso-git`, which may be preffered methods of installing, as these compile on the user's machine.

[2019-10-09 14:13] Scrumplex commented on #80
I think this should be handled similarly to the macOS implementation. We could just copy a systemd-user unit file to the correct place (e.g. `$XDG_CONFIG_HOME/systemd/user/espanso.service`), if there is no espanso user unit installed on the system. When `espanso register` is called, the unit file can be created (if it does not exist) and enabled with `systemctl --user enable espanso.service`. `esp

[2019-10-09 21:40] federico-terzi commented on #68
All right, thank you very much @Scrumplex, in the next few days I will update the website :)

[2019-10-09 21:45] federico-terzi commented on #80
Thanks as always for the great suggestions @Scrumplex! Yours is pretty much the solution I was thinking.
This weekend I will try to develop this feature following your tips, hoping to circumvent the previous X11 error I encountered.

Thanks :)

[2019-10-10 11:50] linsui opened #81 "Add Portable version"
[code]

This doesn't work for me on windows, espanso still uses the default one. And maybe `-c, --config <DIRECTORY>` would be more clear?
Could you add a portable mode? For example, if there is a `portable` file in the same directory, espanso will use config files in the same directory, or, if there is a `portable` directory, espanso will put config files in it. Thanks anyway!

[2019-10-10 11:52] linsui commented on #64
Could you also add checksum for other release files?

[2019-10-10 16:25] federico-terzi commented on #81
Hi @linsui,
Thanks for your great suggestion. I was planning to remove that flag entirely from the next release, but I understand that a portable version could be useful.
I'll add this feature to the roadmap as you suggested and I'll change the name of the issue to reflect this change.

Thanks :)

[2019-10-10 16:26] federico-terzi commented on #64
Hi @linsui,
Sure, I will add them in the next release.
Best regards

[2019-10-10 16:50] linsui commented on #64
Thanks!

[2019-10-10 19:15] federico-terzi commented on #76
Turns out it happens because of a `libxdo` bug, the library I use to simulate the keyboard on Linux. Because this is one of many bugs regarding that library, I'm switching the default backend to `Clipboard` on Linux, this should solve many problems such as this one.
The only downside is that instead of simulating keystrokes it simulates a Copy/paste, so the current clipboard content gets overwritt

[2019-10-10 20:27] timorunge opened #82 "Possibility to define abbreviation mode"
Hey @federico-terzi,

thanks a lot for espanso!
I'm currently in the migration process away from TextExpander.

Since I'm a lazy guy one of my typical uses cases is to do some "auto correct" for words that I'm misspelling regularly. The issue that I'm facing is that if I'd like to type "other" and have a correction for ***ther*** like

[code]

it's replacing ***other*** to ***othere***.

As a quic

[2019-10-11 08:43] timorunge commented on #82
Hey @federico-terzi,

awesome. From a pure performance POV I've not been facing any problems so far. It's blazingly fast. I'll (auto) generate some packages in the next days which I'm happy to share. :)

[2019-10-11 13:31] federico-terzi commented on #82
That's great to hear thanks!

[2019-10-11 18:06] asimpson commented on #76
Appreaciate it! :pray:

[2019-10-12 12:18] federico-terzi commented on #68
Hi @Scrumplex,
I'm in the process of updating the docs and I don't really know what should be the recommended procedure to install espanso from AUR.
I'm not an Arch user and I thought it would be easy, but I found many different solutions online and I don't know which one is the best.
Could you help me with the sequence of commands to install espanso from AUR?

Sorry to bother you :)

[2019-10-12 12:22] #73 closed

[2019-10-12 12:22] #75 closed

[2019-10-12 12:35] #81 closed

[2019-10-12 12:35] #64 closed

[2019-10-12 12:35] #72 closed

[2019-10-12 12:35] #78 closed

[2019-10-12 12:35] #79 closed

[2019-10-12 12:35] #80 closed

[2019-10-12 12:37] #76 closed

[2019-10-12 13:04] Scrumplex commented on #80
While updating the AUR packages I noticed, that espanso creates it's own service files no matter if they already exist system wide or not. Looks like `systemctl --user is-enabled espanso` returns exit code 1 if it's disabled, too.

[2019-10-12 13:46] federico-terzi commented on #80
Yes, you are right. If the service is disabled espanso re-adds its service file.
Do you think this can have any unwanted consequences?

At this point, considering that espanso supports systemd out of the box, I think it's reasonable for the user to configure it automatically using `espanso register`.
On the other hand, if the user wants to customize the service file location this can be problemati

[2019-10-12 13:54] Scrumplex commented on #80
What about this:
Check if command returns 1
If it outputted "disabled" ask the user if it should add the service anyway (defaulting to no)
The rest stays the same.

This should definitely inform the user, that there already is a service file.

[2019-10-12 13:57] federico-terzi opened #84 "When registering espanso to systemd, ask before overriding an existing service configuration"
Proposal: https://github.com/federico-terzi/espanso/issues/80#issuecomment-541327132

[2019-10-12 13:57] federico-terzi commented on #80
All right, it's a great solution. I'm opening a new issue: #84

[2019-10-12 15:40] linsui opened #85 "Warning is printed twice"
I got this message.

[code]

[2019-10-13 15:47] federico-terzi commented on #85
Hi @linsui,
Thanks for the feedback. I will try to solve the bug in the next release.
Regards

[2019-10-15 06:21] wezm commented on #68
The only officially supported way to build and install AUR packages is with the `makepkg` tool. Many people use AUR helpers but because they are not officially supported and there's a lot of them I'd recommend documenting the use of `makepkg`, which looks like this:

## Installing on Arch Linux and Derivatives

Espanso is available in the AUR. Install the pre-compiled binary as follows:

    git c

[2019-10-15 10:00] intreeking opened #86 "Typing extended characters using Accent+letter on keyboard creates wrong outcome while espanso is active"
When espanso is active and an accent or caron is typed using "accent + letter" method to write an extended character a doubled accent followed by the letter is typed. Happens anywhere in Windows 10 64 and in all languages/inputs that use this method.
Example: ´´Uplně vs. Úplně; ˇˇCesko vs. Česko.
This completeley prevents me from using espanso as I cannot type extended characters until exiting esp

[2019-10-15 20:13] Boxfort commented on #85
I've proposed a fix for this in PR #87

[2019-10-15 21:28] timorunge commented on #82
@federico-terzi you can use https://github.com/timorunge/espanso-misspell-en as a reference and for performance tests. :)

[2019-10-16 18:53] timorunge opened #88 "Follow up: #77 - Use $HOME/.config/espanso as config dir on MacOS"
A quick follow up for #77: Personally I'd love to see if espanso would look up `$HOME/.config/espanso` for configuration files on MacOS as well.

[2019-10-16 18:55] federico-terzi commented on #86
Hi @intreeking,
Thank you for your great feedback. This seems like a tricky problem, especially considering that also Beeftext has it.
espanso implements a very thin layer on top of the existing Windows Raw Input, so it could be a bug related to that API.

That's said I will take a look at it, to see if I can do something. I would need some more information:
* Which language are you using on Windo

[2019-10-16 19:00] federico-terzi opened #89 "path_main is printing the wrong Data directory"

[2019-10-16 19:24] federico-terzi commented on #82
@timorunge thank you. This is actually super useful :)

[2019-10-16 19:25] federico-terzi commented on #68
Hi @wezm,
Thank you very much for your help, I will update the documentation with your suggestion in the next few days.

[2019-10-16 20:58] cambid opened #90 "backend clipboard not working in termite/xterm/uxterm"
The default backend (under linux) clipboard doesn't work in the following terminals:
* termite
* uxterm
* xterm

After entering the trigger it deletes the trigger but doesn't input the replace text

The same configuration is working successfully under gnome-terminal.

[2019-10-16 21:28] federico-terzi commented on #90
Hi @cambid,
Thanks for your feedback, I'll need to adjust the filters for those terminals.

It would be a great help if you could execute this commands and post the results:

Open a terminal and leave the `espanso detect` command running, then focus a window of each of these terminals and paste the results here.

Let me know if you need more information, thanks

[2019-10-16 21:45] adam-edison opened #91 "espanso detect doesn't see changes on Mac OS"
**Steps:**

Run

[code]

Notice the following output

[code]

**Notes:**

Switch to many windows, like Slack or Notes. Whether or not you return focus to the Terminal, the output of `espanso detect` does not change. Typing (or not) in thes windows also does not cause the output to change.

**Environment:**

MacOS Mojave 10.14.6
espanso 0.3.0

[2019-10-17 05:20] cambid commented on #90
Hi @federico-terzi

Here are the detected informations of the problematic terminals:

[code]

[2019-10-17 10:58] dlbradford commented on #90
Hi @federico-terzi,
I am experiencing what seems to be the same issue under KDE > konsole:
Listening for changes, now focus the window you want to analyze.
You can terminate with CTRL+C

Detected change, current window has properties:
==> Title: 'dave : bash — Konsole'
==> Class: 'konsole'
==> Executable: '/usr/bin/konsole'

Detected change, current window has properties:
==> Title: 'dave : espans

[2019-10-17 11:04] federico-terzi commented on #91
Hi @adam-edison,
Thank you for your feedback, this is strange indeed. Does it happen with every app?
Could you please post here the output of `espanso log`?

Regards

[2019-10-17 11:06] federico-terzi commented on #90
All right, thank you for your help @cambid and @dlbradford.
I will update espanso to support these terminals in the next release, that should be rolled out this weekend.

Thanks

[2019-10-17 17:49] #68 closed

[2019-10-17 17:50] federico-terzi commented on #68
I added the instructions on the official documentation: https://espanso.org/install/linux/#installing-from-aur

[2019-10-18 10:26] intreeking commented on #86
Sure. I use the English version of W10 64 with a Czech language pack and keyboard. I think the OS display language has little to do with the issue, but that is just an assumption. I have seen other users report the same issue on the web for Greek input or French input/keyboard. I think the layer just executes something immediately while the windows input when typing an accent waits for the followi

[2019-10-18 10:28] intreeking commented on #86
Also, I used to use PhraseExpress, which did not appear to have this issue.

[2019-10-18 15:00] adam-edison commented on #91
I'm noticing the `espanso restart` command doesn't work either. It somehow still has the previous default.yml cached. Due to both of those issues it makes the application unusable, and I've had to uninstall.

At this point I don't think I have time to invest in this issue . Thanks for following up, though.

[2019-10-18 18:58] cambid opened #92 "Feature request to position cursor after replacement"
aText on Mac has a great feature to position the cursor in the replacement string after the replacement.

Here is a screenshot of the configuration:
[https://www.trankynam.com/atext/screenshots/main_window_variables.png](url)

Can you create this feature in espanso?

[2019-10-19 06:57] federico-terzi opened #93 "Error when running espanso on Windows 8 due to SetThreadDpiAwarenessContext"
![image001](https://user-images.githubusercontent.com/20475953/67139267-87217b00-f24e-11e9-9c07-1678ebaf0c78.png)

[2019-10-19 07:02] federico-terzi commented on #91
That's strange indeed, I'm sorry you experienced those problems. I will reopen this issue to investigate further, though I won't ask you to help in the process as I understand you are busy.
You may want to consider unfollowing this issue to stop receiving notifications.

Thanks

[2019-10-19 07:06] federico-terzi commented on #92
Hi @cambid,

I wanted to add that feature as well. I'll try to implement an experimental version in the next release, so we can test it further.

Thanks for your help

[2019-10-19 07:12] federico-terzi commented on #86
Thank you for your help, I'll investigate further using the tips you gave me.

You're almost surely right, it's probably related to the order of the keys pressed.

I'll let you know once I have something to work on, thanks again

[2019-10-19 21:37] federico-terzi commented on #82
Hi @timorunge,

I'm in the process of developing this feature. I built the first draft in the `feature-word-separators` branch, though I want to test it further in the next few days as it changes a few important mechanics of espanso.

I'll let you know once the feature has been deployed, I expect it to be in the next week release.

Thanks for your help :)

[2019-10-19 21:46] #84 closed

[2019-10-19 21:46] #90 closed

[2019-10-19 21:46] #85 closed

[2019-10-19 21:46] #88 closed

[2019-10-19 21:46] #89 closed

[2019-10-19 21:54] federico-terzi commented on #90
Hi guys,

I'm currently rolling out version 0.3.1 that should fix these problems. I didn't have much time to test it on every terminal. Let me know if you still experience any issues.

Thanks

[2019-10-20 13:13] dlbradford commented on #90
Hi, Federico,
Using Pop!_OS 19.04, tested:
Xterm(330) works great.
konsole 19.04.3 works great.

Thank you so much for the quick turn around on this!

[2019-10-20 17:51] federico-terzi commented on #90
@dlbradford You're welcome! And thank you for helping me making espanso better

[2019-10-21 12:47] timorunge commented on #82
Thank you @federico-terzi, as soon as there is a new release I will take a close look if everything is working as expected and OFC report issues. :)

[2019-10-21 13:06] timorunge opened #95 "Add options to disable Status Icon and Notifications"
It would be nice if espanso would give - in the configuration file - the possibility to hide the menu item.

[2019-10-21 17:01] federico-terzi commented on #95
Hi @timorunge,
That could definitely be a good option. Do you mean the status bar icon?

[2019-10-21 17:02] federico-terzi commented on #82
Of course! Thank you for your help :)

[2019-10-21 17:11] timorunge commented on #95
@federico-terzi: Yes. Meaning to have a complete "silent" application (everyone is filling the status bars, docks, ...).

[2019-10-21 18:28] federico-terzi commented on #95
All right! I'll rename the issue to make it clearer

[2019-10-22 12:50] federico-terzi opened #96 "Add the possibility to expand matches into images instead of text"

[2019-10-22 19:46] federico-terzi commented on #86
Hi @intreeking,

I've looked into the issue and it turned out to be pretty easy to solve!
It should be working correctly in the next release ( v0.3.2 ), probably happening this weekend.

Thanks for your help

[2019-10-22 19:57] intreeking commented on #86
This sounds great! When released, I will share the love of your tool with my translator sturents in my online course.
Best wishes

[2019-10-22 20:32] arabello opened #97 "Access denied error while installing using a custom path (Windows)"
Hi,
I'm getting an error that aborts the installing process on Windows when using a _custom_ path. Instead, with the _default_ path, it completes successfully.

![Capture](https://user-images.githubusercontent.com/16003164/67329001-89b7f500-f51a-11e9-937d-50f7ae6fa3cf.PNG)

It seems that the installer should ask for write permission.

[2019-10-23 12:36] kkga opened #98 "Status icon is not HiDPI-ready"
The icon is blurry on a hi-dpi screen.

<img src="https://user-images.githubusercontent.com/1460122/67393282-bf0c2380-f5aa-11e9-8a39-5ae9b3a85e5b.png">

[2019-10-23 16:55] federico-terzi commented on #98
Hi @kkga,

Thanks for your feedback, I'll take a look. I don't have access to a Mac with a retina screen, so it could take a few trial and error.

Thanks for your help

[2019-10-23 16:56] federico-terzi commented on #97
Hi @arabello,

Thank you very much for your feedback, I'll take a look in the next few days and I'll get back to you.

Thanks for your help

[2019-10-23 17:00] federico-terzi commented on #93
I could probably fix this issue using this method: https://stackoverflow.com/questions/52690147/check-if-winapi-function-is-available

[2019-10-24 12:11] nikolai-cc commented on #91
On my mac the `detect` command doesn't seem to be working either. The `restart` command loads the new `default.yml` without any problems though.

This is the output of `espanso log` just after an `espanso restart`, `espanso detect`, and switching from terminal to safari, sublime text and back to the terminal. Output of `espanso detect` remains unchanged on terminal information:

[code]

[2019-10-24 12:41] nikolai-cc commented on #91
One more thing, the filters **do** seem to work as intended.
added a file `test.yml` in the `espanso/user` folder with

[code]

It replaces `;test` with `this works!` in safari, but not terminal.

[2019-10-24 12:58] timorunge commented on #91
@nikolai-cc I had the same problem with [alacritty](https://github.com/jwilm/alacritty).

Changing the Backend to `Clipboard` was doing the trick for me (`~/Library/Preferences/espanso/user/io.alacritty.yml`).

[code]

[2019-10-24 15:00] timorunge commented on #98
@federico-terzi 1a3e2c7 will not fix this. It looks like the following:

<img width="541" alt="Screenshot 2019-10-24 at 16 58 09" src="https://user-images.githubusercontent.com/1560363/67498386-a3268180-f67f-11e9-904e-e4c2988f3e43.png">

I've been playing around with a solution and came up with the following:

Before:
<img width="541" alt="Screenshot 2019-10-24 at 16 32 31" src="https://user-image

[2019-10-24 16:27] federico-terzi commented on #91
Hi @nikolai-cc,

Yesterday I released a fix for the `espanso detect` bug that was affecting macos users. It should be rolled out in the next release ( probably this weekend ).

Thanks for your feedback

[2019-10-24 16:28] federico-terzi commented on #91
Hi @timorunge, did you have this problem on Linux or MacOS? Thanks

[2019-10-24 16:34] federico-terzi commented on #98
Hi @timorunge,

Thank you very much for your help, I definitely need it! Could you provide me the image you used in the third example?
I don't have a retina display so I cannot test this effectively.

Thanks

[2019-10-24 16:39] federico-terzi commented on #91
All right thanks. So in your case espanso didn't work with alacritty by default, am I right? Because it could be worth it to open an issue if that's the case.

[2019-10-24 17:01] DutchPete opened #99 "Install manually on a Mac"
On the Mac installation page it says:

You only show how to use Homebrew, however, but not how to do it manually. Is there a .dmg file available?

[2019-10-24 17:29] timorunge commented on #91
That's correct. The Clipboard solution was sufficient for now. I'll create a new - more generic - ticket since I'm facing some other issues after reloading espanso.

[2019-10-24 17:33] timorunge commented on #98
@federico-terzi: Sure, I can share the same. But like I said: The boarders are not as good as they should be (I took [this file](https://github.com/federico-terzi/espanso/blob/master/other/EspansoNotifyHelper/EspansoNotifyHelper/Assets.xcassets/AppIcon.appiconset/icongreen-256.png) as a source).

I'm happy to create a final PNG for you if you have some PDF or SVG image to work with.

Image:
![icon

[2019-10-24 17:53] timorunge commented on #91
@federico-terzi: Quick heads up regarding `io.alacritty`: The problem is present on macOS 10.14 and sortable via the `Clipboard` backend. While on MacOS 10.15 it's vise versa.

[2019-10-24 18:48] federico-terzi commented on #98
@timorunge that would be a great help! Here's the SVG file: https://drive.google.com/file/d/1T_TdF2rZYAeLsRoJJ4_ZyRaKR-uuq6JV/view?usp=drivesdk

Let me know if you need something else to create the icon. Thanks

[2019-10-24 18:52] federico-terzi commented on #91
@timorunge all right, I expected some problems with the Catalina update. I'll need to find a way to test it on the new OS version. I'll wait for your issue now.
Thanks

[2019-10-24 19:00] federico-terzi commented on #99
Hi @DutchPete,

Thanks for the feedback. At the moment, the situation on macOS is still a bit rough and there is no DMG package. The only officially supported way to install espanso on macOS is Homebrew for now, but I plan to invest a bit of effort to find an alternative solution.

Is there any particular reason why you don't like using Homebrew?

Thanks

[2019-10-24 19:48] timorunge commented on #98
@federico-terzi: See #100.

[2019-10-25 04:01] DutchPete commented on #99
@federico-terzi : thanks for your reply. The reason I don't want to use Homebrew is that I am not familiar with it - I am new to the Mac. Moreover, I find the use of .dmg files very convenient if I compare it with the installation process in Windows and Linux.

In fact, when I read the procedure on your page to use Homebrew, it is also more long-winded than the installation with a .dmg files. What

[2019-10-25 05:59] tfgzs opened #101 "Why not support UTF8"
Good tool
But I hope to support Chinese
Thanks

[2019-10-25 07:46] federico-terzi commented on #99
Hi @DutchPete,
I totally understand your point. The reason is that espanso is not actually an App, but a daemon and, as such, it's not super easy to convert into a bundle.
I will definitely spend some time to investigate how to implement that solution, keep following this issue to stay updated.
Thanks for your feedback :)

[2019-10-25 07:48] federico-terzi commented on #101
Hi @tfgzs,

Thank you for your feedback. It's strange because espanso should already support UTF8, what kind of problems are you experiencing?
I need more information to help you, in particular:
* Which operating system are you using?
* Which version of espanso are you using? ( you can check the version by using the `espanso --version` command in the terminal )
* Could you post your configuration

[2019-10-25 07:53] DutchPete commented on #99
@federico-terzi : OK, thanks I'll follow it.

[2019-10-25 08:22] profy12 opened #102 "Do not work with terminator on Linux"
Espanso do not work with terminator (tested with Ubuntu 18.04).

It's matching but replace with nothink and return a blank line.

[2019-10-25 08:23] federico-terzi commented on #102
Hi @profy12,

Thanks for the feedback, could you please run `espanso detect` on terminator and post the output here?

Thank you

[2019-10-25 08:47] profy12 commented on #102
[code]

[2019-10-25 09:02] federico-terzi commented on #102
Thank you @profy12, I should be able to publish a fix in the next release ( it will be available this weekend )

[2019-10-25 09:22] tfgzs commented on #101
- MacOS  10.15
- espanso 0.3.1

- default.yml
[code]
:日期

[2019-10-25 09:29] profy12 commented on #102
Great ! so reactive :smile:
If it can help, it seems to work switching the backend to inject :
[code]

[2019-10-25 11:22] profy12 opened #103 "Get your public ip with :ip"
My first package, tested only on Linux.

https://github.com/profy12/espanso-package-ip

[2019-10-25 20:08] federico-terzi commented on #102
Well, I was right in front of my inbox, that's why :)

Indeed the `Inject` backend does not suffer from this problem, though it has its own.
In the next version, Terminator should work also with the default `Clipboard` backend.

Thanks for your help

[2019-10-25 20:17] federico-terzi commented on #103
Hi @profy12,
Thank you for your submission, it's surely helpful. There are just a couple of edits I'd like you to do before publishing. In the `ip` [README](https://github.com/profy12/espanso-package-ip/blob/master/ip/README.md):

* Please add `( Linux only )` at the end of the `package_desc`
* And add a short message in the body, explaining that is linux only and have only be tested on that syste

[2019-10-25 20:17] federico-terzi opened #104 "Add option to packages to make them platform-specific"

[2019-10-25 20:20] federico-terzi commented on #101
Thanks for the help @tfgzs
I'll take a look in the next few days and I'll get back to you.
By the way, I'm not very experienced with Chinese keyboards, could you link me with an image of the type of keyboard you are using?

Thanks

[2019-10-25 20:44] federico-terzi commented on #93
Turns out Windows 8 support is more complicated than expected.
This particular error can be solved relatively easy with something like:
[code]

But even after solving this exception, espanso is not working at all. It seems like the application is not receiving WM_INPUT messages from the OS.

At the moment, supporting older versions of Windows is difficult for me, so unless someone experienced with

[2019-10-26 19:43] #86 closed

[2019-10-26 19:43] #91 closed

[2019-10-26 19:43] #98 closed

[2019-10-26 19:43] #102 closed

[2019-10-28 02:41] tfgzs commented on #101
@federico-terzi
I think you can copy the script above or replace it with other special characters.
the Chinese MAC keyboard is the same as the English keyboard.
Chinese like to use this input software: https://pingyin.sogou.com/mac/
Thank you very much for your help.
Welcome to China

Thanks

[2019-10-28 10:32] profy12 commented on #103
Ok it's done.

[2019-10-28 13:48] profy12 commented on #104
It could be useful to have one package name with 3 configurations specifics to os : maybe a package-osx.yml, package-windows.xml and package-linux.xml

[2019-10-28 16:11] DutchPete opened #106 "Allow the user to import configuration files from different locations"
Is it possible to change the location of this file? The reason I ask is that some of my snippets have confidential info.

[2019-10-28 16:14] DutchPete opened #107 "Use hotkey combinations?"
Is it possible to use e.g. <kbd>CTRL</kbd> + <kbd>Shift</kbd> + e as a trigger for e.g. é?
If yes, what is the correct syntax for it?

[2019-10-28 16:58] federico-terzi commented on #107
Hi @DutchPete,

Thank you for your feedback. At the moment it's not currently possible, but we can discuss to add it to the roadmap.

The main problem with this feature is that espanso is not able to "block" shortcuts, only detect them. This has an unwanted consequence: if you define a match for the shortcut "CTRL+SHIFT+e" and the current application you are using already defined that shortcut for

[2019-10-28 17:02] federico-terzi commented on #106
Hi @DutchPete,

espanso has a few default locations for the configuration files, but they are not changeable at the moment. Where would you like to put them?

Consider also that espanso is not meant for confidential information and thus it should be used with care.

If you give me a bit more detail on how you would use espanso I could help you better.

Thanks

[2019-10-28 17:04] federico-terzi commented on #104
Hi @profy12,

Your proposal could be a very good solution indeed, thanks for the feedback. I will definitely consider it when developing the feature.

[2019-10-28 17:18] DutchPete commented on #106
@federico-terzi : why is espanso not meant for confidential info? By "confidential" I mean passwords. I use a password manager that I have been using for years: Keepass, or KeepassXC. But its Autotype feature works less well on the Mac. That's why I would like to use Espanso for a small number of passwords.

I would like to put the default.yaml file on my VeraCrypt drive.

[2019-10-28 17:38] DutchPete commented on #107
Hello @federico-terzi : Thanks for your explanation.
You are right, this happens with other apps that allow hotkeys for different purposes. I used to keep a list with all my hotkeys, but it becomes cumbersome, and one forgets to amend the list.

So, I think it is not necessary to add it to the roadmap.

[2019-10-28 17:38] #107 closed

[2019-10-28 20:21] arabello opened #108 "Toggle shortcut doesn't work on macOS Catalina"
Hi @federico-terzi ,
the toggle shortcut mentioned [here](https://espanso.org/docs/get-started/#useful-shortcuts) seems to not work on my system (Catalina 10.15).

Tell me if you need specific tests I can do to find out the problem.

[2019-10-28 20:22] federico-terzi commented on #106
All right, this seems like a reasonable use case. That said, if you want to use espanso on password text fields on macOS it could be problematic, as the OS blocks all applications from working with password fields. Have you tried to use espanso in one of those fields? Let me know if it work

This could definitely be possible, I'll change the name of the issue to reflect this proposal.

Thanks for

[2019-10-28 20:24] federico-terzi commented on #108
Hi @arabello,
Thank you very much for notifying me, I'll look into the problem as soon as possible.

[2019-10-28 20:34] federico-terzi commented on #103
All right! here's your package: https://hub.espanso.org/packages/espanso-package-ip/

Thanks for your help

[2019-10-28 20:35] #103 closed

[2019-10-28 21:19] timorunge commented on #82
@federico-terzi Thanks to v0.3.2 i've pushed the changes as well to https://github.com/timorunge/espanso-misspell-en. :)

[2019-10-28 21:29] timorunge commented on #106
My 2 cents here (for the password related part):

`espanso` is providing shell triggers. From my point of view the best way to get passwords from KeepPass is using one of the shell triggers and the command line options from KeePass (see https://keepass.info/help/base/cmdline.html). There is also an alternate solution called `kpcli` (http://kpcli.sourceforge.net).

It's not required to store the pa

[2019-10-28 21:33] timorunge commented on #98
@federico-terzi the status bar icon which should be in `v0.3.2` is not automatically applied by an update. `icon.png` in `~/Library/Application Support/espanso` is still the low res one.

[2019-10-28 23:05] federico-terzi commented on #98
Hi @timorunge, you are totally right. I forgot to mention that existing espanso users on macOS should delete the  `~/Library/Application Support/espanso/icon.png` file and then restart espanso.

Thanks for your help

[2019-10-28 23:08] federico-terzi commented on #108
I tested espanso on macOS Catalina and unfortunately I couldn't reproduce the issue.
What kind of behavior are you experiencing?

If you press the shortcut, does it ignore it and keep working instead?

Thanks for your help

[2019-10-28 23:09] federico-terzi commented on #82
That's great to hear! I used your library a lot lately to do all sort of tests :)

[2019-10-28 23:12] federico-terzi commented on #106
@timorunge proposed a great solution for your problem @DutchPete, I'd definitely go with that one for securely handling passwords through espanso.

That said, I'm planning to include an option to load an external configuration from another location, as I think it can solve also other use cases.

Thanks for your feedback!

[2019-10-29 04:12] DutchPete commented on #106
@federico-terzi : I am actually not using KeePass but KeepassXC because the former works best on Windows, but not very well on Linux and macOS, whereas the latter works better there. So, the proposal from @timorunge may well be good for Keepass, I don't know if it will work for KeepassXC.

I, and maybe others with me, would appreciate the ability to have the config file in a location of my choice,

[2019-10-29 04:16] DutchPete commented on #106
It does work on some, e.g. on KeepassXC itself, and on the Disqus login page, but not on others, e.g. SpiderOak.

That would be great !!

[2019-10-29 05:12] DutchPete commented on #99
@federico-terzi: in case you had not noticed, I bit the bullet and installed Homebrew - no problems encountered - then Espanso, also without problems. Did that yesterday.
It seems to be a good app, and you are a pleasant person to work with ;-) Many thanks.

[2019-10-29 05:12] #99 closed

[2019-10-29 18:29] federico-terzi commented on #99
Hi @DutchPete,
Thank you for the kind words! I'm glad you liked it.
Actually I've been researching for a while on this topic, and it seems like Homebrew will still be the recommended way still for some time because with macOS Catalina is becoming more and more difficult to distribute apps.

Thanks for your help

[2019-10-29 18:31] #92 closed

[2019-10-29 22:02] arabello commented on #108
Hi,
I just found out what was my problem. I'm using an external Windows keyboard, so that I changed the modifier keys resulting in a broken toggle shortcut.

 To recap, _using an external USB keyboard_, all works fine with the following settings:
![Screenshot 2019-10-29 at 22 46 52](https://user-images.githubusercontent.com/16003164/67812381-5ee01a80-fa9f-11e9-9cfc-5613e87c227b.png)

Instead, the

[2019-10-29 22:02] #108 closed

[2019-10-30 11:32] DutchPete commented on #106
@federico-terzi : I have another question about this. Suppose I encrypt the `default.yml` file when I shutdown my computer; when I boot up again Espanso will fail because it won't find the file, but I can then decrypt the file and restart Espanso.

That way, if ever I have to give my computer for repair (god forbid !!), any passwords I have in Espanso will not be automatically exposed. What do you

[2019-10-30 19:55] federico-terzi commented on #106
I'm still convinced that using a proper password manager would be the best solution. That said, your solution should work :)

[2019-10-31 04:47] DutchPete commented on #106
@federico-terzi : I fully agree with you, a password manager is best, which is why I use KeepassXC. I have 1 particular situation where it is not practical, hence that 1 particular password in Espanso.

I will give the default.yml encryption a try. Thanks for your advice.

[2019-10-31 16:18] DutchPete commented on #106
@federico-terzi : just to complete the discussion, I have found a much simpler way. At then end of each day I will transfer the `default.yml` file to a location on my VeraCrypt drive, which is encrypted when my computer is shutdown.

In the morning, after boot up, I will exit  Espanso, transfer `default.yml` back to its normal location, and restart Espanso. A smart scripter could automate this.

O

[2019-10-31 18:20] federico-terzi commented on #106
I've been thinking about your problem for a while. Maybe you could even make this work with a symbolic link located in the espanso config directory that points to your desired configuration.

[2019-10-31 20:23] timorunge commented on #82
Feel free to add them to the hub! :)

[2019-11-01 09:30] timorunge opened #109 "Matching is not deleting last char if it's there multiple times"
If you have some matches in trigger in the following format:

[code]

The result will be:

[code]

(there will be a dot after the `replace` trigger)

[2019-11-01 10:24] timorunge opened #110 "Possibility for nested triggers"
It would be great if `espanso` would have the possibility for nested triggers. As an example:

[code]

[2019-11-01 12:08] DutchPete commented on #106
@federico-terzi : the thought flashed through my mind when I 1st started to think about it but I let it go because I thought it was pie in the sky. 1 second and it was gone.

I must say that sounds very interesting now that you have mentioned it. All I would have to do after booting my computer is exit Espanso and restart it. Done :-)

And you would not have to change anything in Espanso to allow

[2019-11-01 13:18] timorunge commented on #106
@DutchPete: Take a look at: https://kb.iu.edu/d/abbe

In fact, if your VeraCrypt drive is mounted before espanso is starting you don't even have to restart espanso.

[2019-11-01 17:11] DutchPete commented on #106
@timorunge : no, my VC drive is not mounted before Espanso starts. Espanso starts when the computer gets booted. Only when the boot process is complete can I mount the VC drive.

The link you provided is useful, it seems simple to create a symbolic link. The syntax that's mentioned is
`ln -s source_file myfile`

What surprises me is that the paths to source file and target file are not mentioned.

[2019-11-01 19:59] federico-terzi commented on #106
@DutchPete you could use something along these lines:
[code]

where  `/path/to/your/cv/drive/default.yml` is the path of your configuration file present in the VC drive

[2019-11-01 20:01] federico-terzi commented on #82
Sure thing! I will add it to the hub when I have a bit of time :)

[2019-11-01 20:17] federico-terzi commented on #109
Hi @timorunge,
Yep, that's definitely a bug! I'll look into it in the next few days.

Thanks for your help

[2019-11-01 20:20] federico-terzi commented on #110
@timorunge that could definitely be a useful feature, I'll add it to the roadmap.

Thanks for your help as always :)

[2019-11-01 20:20] #106 closed

[2019-11-02 12:10] DutchPete commented on #106
@federico-terzi : many thanks for that.

When I execute that command, I get this feedback:
`ln: /Library/Preferences/espanso: Permission denied`.

How can I obtain permission?

[2019-11-02 12:12] timorunge commented on #106
@DutchPete there is a `~` missing. Try this one:

[code]

[2019-11-02 12:34] DutchPete commented on #106
@timorunge : yes, that did the trick.

1 last question: when I open Library/Preferences/espanso/ there a default.yml file with a Windows shortcut-like arrow on it, indicating it is a shortcut indeed. When I open that file, however, it shows all my snippets. Am I right in saying that the shortcut file can only show the snippets as long as the VeraCrypt drive, where the original default.yml file now

[2019-11-02 12:39] timorunge commented on #106
@DutchPete in short: Yes.

Imagine a Symlink like an Alias on MacOS (it's actually the same).

The shortcut will stay there all the time. If your VeraCrypt drive is mounted you (and espanso) will be able to access it. If your VeraCrypt drive is not mounted it will point to a reference which is not existing - therefore you and espanso won't be able to access it.

[2019-11-02 12:44] DutchPete commented on #106
@timorunge : thanks Timo. I am actually using it on a Mac, but am new to macOS. Everything is clear. Before executing the command I exited Espanso, then did the transfer and the symlink creation, then started up Espanso again and everything works fine.

I want to thank you and @federico-terzi for all your patience and help.
BTW, @federico-terzi I just recommended Espanso to someone else - [Github]

[2019-11-02 20:45] #109 closed

[2019-11-03 04:06] DutchPete commented on #106
@federico-terzi & @timorunge : just to close the issue correctly, I can now confirm the following. After shutting down my computer and booting up, Espanso did not launch. I subsequently mounted the VeraCrypt drive, Espanso via the terminal, and it is running fine. Perfect. In other words, in my use case, after booting up the computer the 1st 2 things I need to do are mount my VeraCrypt drive and s

[2019-11-03 15:49] federico-terzi commented on #106
Glad you got it working @DutchPete, have a nice day :)

[2019-11-04 20:26] xircon opened #112 "Manjaro KDE - not working in the terminal"
Installed the espanso-bin and then the git version from aur.

Tried konsole and st, typed `:espanso` all it does is backspace, nothing is typed.  It appears to be working in Firefox.

Same for both versions.

[2019-11-04 20:40] federico-terzi commented on #112
Hi @xircon,
Thanks for the feedback, could you please run espanso detect on the terminal and post the output here?

Thank you

[2019-11-04 21:17] xircon commented on #112
st:
[code]
konsole (no tmux):
[code]

[2019-11-05 12:53] federico-terzi opened #113 "Improve Linux installation documentation to include the steps to configure Systemd autostart"

[2019-11-05 12:55] federico-terzi commented on #112
@xircon thank you very much, I should roll out a fix for this bug in the next release ( scheduled for this weekend ).

Thanks for your help

[2019-11-05 18:07] xircon commented on #112
Thankyou, glad to help.  Will install over the weekend (aur git version)

[2019-11-05 18:07] xircon commented on #112
Thankyou, glad to help.  Will install over the weekend (aur git version)

[2019-11-05 18:07] xircon commented on #112
Thankyou, glad to help.  Will install over the weekend (aur git version)

[2019-11-07 10:04] federico-terzi commented on #112
Glad to hear that, I'll reopen the issue so that I can close it properly with a pull request this weekend.
Thanks for your help

[2019-11-08 21:37] #27 closed

[2019-11-11 20:49] xircon commented on #112
Seems to be working in Konsole, but not in yakuake, st, kitty or alacritty.  It just backspaces with no replacement.

[2019-11-12 07:46] federico-terzi commented on #112
Thanks for your feedback @xircon , I'll take a look as soon as possible.

[2019-11-12 11:16] federico-terzi opened #115 "Windows installer force a restart of the system without asking the user"

[2019-11-12 15:19] wadbr commented on #115
This just happened to me. It was not great. I was able to press cancel (on closing unsaved work) and saved some of my open windows (including the installer). I noticed the installer had the options to restart or delay so this happened before the the restart was selected.

Using Win10x64 and latest espanso installer from github 0.3.4.

[2019-11-12 15:35] federico-terzi commented on #115
Hi @wadbr, thank you very much for the feedback. I'll definitely look into it in the next few days.

Thanks for your help

[2019-11-12 15:37] wadbr commented on #115
No problem at all, if you need any more help to debug (I don't know if the installer leaves a log somewhere?) let me know.

[2019-11-12 20:16] federico-terzi commented on #115
@wadbr thank you. I'll try to reproduce the issue by myself and let you know if I need more info :)

[2019-11-12 20:43] FoxxMD opened #116 "[Package] all-emojis"
Hi love this application! I made a package to include all emojis. https://github.com/FoxxMD/espanso-all-emojis

[2019-11-12 22:05] #56 closed

[2019-11-12 22:12] federico-terzi commented on #82
@timorunge took me a bit of time, but your packages are finally available in the hub! :)
https://hub.espanso.org/packages/mispell-en/

Thanks for your help

[2019-11-12 22:14] federico-terzi commented on #116
Hi @FoxxMD,
Very nice work! I published it on the hub: https://hub.espanso.org/packages/all-emojis/
By the way, thanks to this package I also solved a bug in espanso, it has been very useful :)

Thanks for your help

[2019-11-12 22:59] timorunge commented on #82
@federico-terzi Awesome!
Some "bug": Internal links in the README are pointing no nowhere. The licence in https://hub.espanso.org/packages/mispell-en/ is pointing to https://hub.espanso.org/packages/mispell-en/LICENSE.

[2019-11-12 23:45] FoxxMD commented on #116
Glad to contribute 👍 P.S. Something I forgot to put in the description -- I replaced all underscores in names (`_`) with spaces to make them easier to type. EX `:neutral_face:` is `:neutral face:` in the package.

[2019-11-13 00:09] lkrms opened #117 "Allow more specific toggle_key settings"
I've been able to change espanso's toggle shortcut key from ALT to CTRL by adding the undocumented `toggle_key: CTRL` setting to my `default.yml`. This works around the problem I was having with espanso toggling whenever I used an sxhkd + xdotool hotkey that temporarily clears modifiers via KeyRelease (Alt) and KeyPress (Alt).

It would be great to have, say, Right Alt or Right Shift operate as th

[2019-11-13 05:20] Krutonium opened #118 "Arguments for autofills?"
For example, if I could do :wttrinberlin it would look up the weather in Berlin and return it to me, while :wttrintoronto would return the weather in Toronto, except that berlin and toronto are not hardcoded options - I would have a script that takes the string after :wttrin and returns the weather for that location.

Possible?

[2019-11-13 06:56] federico-terzi commented on #118
Hi @Krutonium,
Thanks for the great feedback, I'll definitely add it to the roadmap.

Thank you for your help

[2019-11-13 06:58] federico-terzi commented on #117
Hi @lkrms,
Thank you for the kind words and valuable feedback. I'll take a look at the problem and let you know once I've investigated further.

Thanks for your help

[2019-11-13 07:00] federico-terzi commented on #116
Thank you, I'll add it to the readme as soon as I have some time :)

[2019-11-13 07:01] federico-terzi commented on #82
@timorunge All right, I'll fix it asap :)

[2019-11-13 14:09] DutchPete opened #119 "Snippet not accepted"
I would like to use
[code]
but Espanso does not accept the " around the abcd. Is there a way around this?

[2019-11-13 14:50] #119 closed

[2019-11-13 16:20] DutchPete commented on #119
@federico-terzi : yep, that works. Many thanks once again, Federico.

[2019-11-14 18:06] federico-terzi commented on #97
Unfortunately, I couldn't find a reasonable solution to this problem. Most of the alternatives either lacked correct support or gave the same results. For this reason, I'm closing the issue as wontfix.

Thanks for your help

[2019-11-14 18:06] #97 closed

[2019-11-16 21:10] #115 closed

[2019-11-16 21:31] federico-terzi commented on #82
@timorunge this should have been fixed now :)

[2019-11-16 21:31] #82 closed

[2019-11-16 21:32] federico-terzi commented on #116
@FoxxMD  this should have been fixed now :)

[2019-11-16 21:32] #116 closed

[2019-11-16 22:47] xircon commented on #112
Now working in alacritty, not in st or kitty, many thanks.

[2019-11-16 22:49] xircon opened #121 "How do I send an "enter" ?"
E.g.:
[code]
Press enter after, to run the command? tried \n \r.

[2019-11-17 13:27] federico-terzi commented on #112
Hi @xircon, glad to hear that. I'm still working on a fix for the other two, but I don't know how long it could take.

Thanks

[2019-11-17 13:34] federico-terzi commented on #121
Hi @xircon,
At the moment, this is a tricky thing to do on Linux as I never thought about this use case.

An option would be to use the Inject backend ( instead of Clipboard, the default one on linux ) into an Application-specific configuration for your terminal. At that point, using \n at the end of the replace field would trigger an enter.

You will find some instructions on the documentation ab

[2019-11-17 14:42] muralikodali opened #122 "not working in emacs"
Application is not working in emacs . My emacs version is 26.3
It is working well in vim and geany editors.

[2019-11-17 17:00] federico-terzi commented on #122
Hi @muralikodali,
Thanks for the feedback, I would need to know a few other things:

* What operating system are you using?
* Are you using emacs inside the terminal?
* Which terminal are you using?

Thanks

[2019-11-18 00:38] muralikodali commented on #122
On 17 November 2019 10:30:39 PM IST, Federico Terzi <notifications@github.com> wrote:

My operating system is Ubuntu Mate 18.04.3

I am not running emacs inside terminal. Running emacs with evil mode. I have tried espanso without evil mode also. I have got the same result.

My terminal is mate-terminal .
--
Regards,
Murali Kodali

[2019-11-18 17:29] federico-terzi commented on #122
All right, thanks for the feedback. I'll look into it in the next few days.

Thanks

[2019-11-19 22:49] beefeater7 commented on #62
I support the suggestion. I like to work with the raw input, then feed it to the parser. Like coding.

[2019-11-21 12:49] sciencetaco opened #123 "Espanso/Macos/Microsoft RDP"
This is more of a feature request - the ability to use text expansion as configured on my desktop in RDP sessions would be amazing. I know it's possible, atext does it, but I much prefer espanso. Would it be possible to give espanso the ability to work with RDP sessions? Currently, if i type a trigger, the text will just disappear. Clipboard is shared between the client and the remote machine. I'm

[2019-11-21 17:44] Tzahreddin opened #124 "Multiline strings"
Hi, I used espanso for the first time and was not able to create a multiline replacement.

I used https://yaml-multiline.info/ as model, but nothing worked with espanso.

Am I using it wrong or is that 'feature' / yaml-Syntax not implemented?

Best

[2019-11-22 08:07] federico-terzi commented on #124
Hi @Tzahreddin,
Thanks for the feedback. I've experienced that problem too, I think it's due to the way `serde` implements it's parser. For now, you could get it working by using `\n` inside the trigger.
I'll take a look at the bug whenever possible and let you know.

Thanks for your help

[2019-11-22 08:27] federico-terzi commented on #123
Hi @sciencetaco,

Thank you for your feedback. I will need a few details to get started:
* Where does espanso run? On the host machine or the client?
* Are you using Windows on both sides?

Thanks for your help

[2019-11-22 08:33] federico-terzi commented on #62
Thanks for the feedback @beefeater7. I'll try to add it in the next major version of espanso :)
I can't promise when it will come though, as I'm pretty busy with university at the moment

[2019-11-22 12:59] sciencetaco commented on #123
@federico-terzi I'm running os x 10.15 on my desktop, espanso runs there, installed via your brew recipe. It only runs on the local machine, as I have extremely limited permissions on the remote end, which is a windows 10. I access it using the Microsoft RDP app from the app store. My config is super basic:
[code]

Here is a link to a video clip of what happens when I attempt a trigger:

[Demo](ht

[2019-11-22 15:21] muralikodali opened #125 "consuming high cpu"
espanso is run as daemon in my system. It is consuming high cpu with temperature rising upto 78 Celsius.

![1574415124](https://user-images.githubusercontent.com/11482766/69437567-9160f880-0d69-11ea-87dc-19c16da4ac0a.png)

[2019-11-22 16:30] federico-terzi commented on #125
Hi @muralikodali,
Thank you very much for the feedback, it's strange indeed. Could you please give me more details:

* Which operating system are you using?
* Could you post here the log? ( Obtained by using espanso log )
* Does it happen often?
* How many matches are you using?
* Which packages do you have installed?

Thanks for the help

[2019-11-22 16:35] federico-terzi commented on #123
All right, thank you @sciencetaco. For the moment, could you try adding `backend: Clipboard` to the configuration file and see if that work?

Cheers

[2019-11-22 17:03] NickSeagull opened #126 "Disable toggle key?"
Hey, thanks a lot for this! ❤🙏

Is there a way to disable the toggle key, and if not, how could I contribute in order to add this feature?

Thanks in advance!!

[2019-11-22 17:19] sciencetaco commented on #123
I gave that a try, same results.

[2019-11-23 20:14] federico-terzi commented on #123
That's unfortunate @sciencetaco, I don't really know how we could solve the issue at the moment. In case I update the situation I'll let you know :)

[2019-11-23 20:16] federico-terzi commented on #126
Hi @NickSeagull,
Thanks for your kind words! At the moment it's not possible to disable the toggle key, but you can change it by adding:

[code]

You can choose between CTRL, ALT and META ( which is equivalent to WIN key on Windows and CMD on macOS ).

I'll try to add the feature to the next release of espanso, thanks for your help

[2019-11-23 21:09] timorunge opened #127 "Abbreviation not working if the first word should be abbreviated"
Hey there,

the abbreviation mode is not working (under MacOS) if the first word should be abbreviated.

Testing can be done e.g. in a new browser tab and using "misspell-en" and `yuo`. While other abbreviations like the example `:date` are working fine. The same is happening if you're deleting all contents e.g. from a form like the comment box here in GitHub and start again with a word that shoul

[2019-11-23 21:20] timorunge opened #128 "espanso not working in Alacritty under MacOS Catalina"
Hey there,

espanso is not working in [alacritty](https://github.com/jwilm/alacritty) under MacOS Catalina (10.15.1) while it's working fine under MacOS Mojave (10.14.6). alacritty is running in the same version on both machines, espanso has the same version and configuration as well.

espanso detect on MacOS Catalina:

[code]

Changing the backend to `Clipboard` from the default `Inject` has no i

[2019-11-23 21:25] NickSeagull commented on #126
Thanks @federico-terzi 😄 , I saw that there's quite a log on your backlog, and I'd really like to help, this project is awesome!

I saw that `toggle_key` is being handled [here](https://github.com/federico-terzi/espanso/blob/ff41090bb1cb0bd438ce179129132ff74c4c3888/src/matcher/scrolling.rs#L196). Would you accept a PR that adds a `KeyModifier` called `Off` that gets ignored on that `if`?

[2019-11-24 10:42] federico-terzi commented on #126
Sure @NickSeagull, thank you very much for your help :)

[2019-11-24 10:49] federico-terzi commented on #127
Hi @timorunge,
Do you mean that the first word is not working but the subsequential ones are?
If that's the case, it could be because espanso doesn't detect a separator before the word and therefore doesn't trigger the first word, while subsequential ones have it.

Thanks for your help :)

[2019-11-24 10:51] federico-terzi commented on #128
Hi @timorunge,
That's very strange indeed! A couple of questions:
* Does espanso work correctly with other applications?
* Which shortcut does alacritty use to paste content ( is it different from CMD+V )?

Cheers

[2019-11-24 11:23] muralikodali commented on #125
I am running ubuntu mate 18.03

below is the log link :
[espanso log]( https://pastebin.com/cAR28Pek)

i have recently observed the problem noticing high cpu usage and temperature problem .
I have installed just two weeks back. I am using eight matches  now.

[2019-11-24 13:20] timorunge commented on #127
Hey @federico-terzi,

yes, exactly. This is how it's behaving. :)

[2019-11-24 13:31] timorunge commented on #128
Hey @federico-terzi,

1.: Yes.
2.: It's the same. CMD+V is working fine.

I forgot to mention that espanso is doing "something". Actually it's deleting the word, tries to replace it but the replacement is not working. So actually it's just deleting everything ATM.

The "really strange" behaviour is (I just found by restarting my computer): It's working sometimes. Sometimes not. I'm still trying to

[2019-11-24 16:31] federico-terzi commented on #125
Thank you @muralikodali, I'll take a look and let you know if I find something. If you experience it again I suggest you to restart espanso with `espanso restart` and see if that solve the problem.

Cheers

[2019-11-24 16:33] federico-terzi commented on #128
Thank you very much @timorunge, I'll take a look and let you know if I discover something :)

[2019-11-24 16:42] federico-terzi commented on #127
I see @timorunge, I experienced the same problem when I first developed the feature.
Honestly, I don't really know how to effectively solve this problem. At the moment, unless the user actively types a separator character before the word, espanso won't trigger the expansion itself.
This is used to avoid unwanted expansions such as `other` -> `othere` when using matches like `ther` -> `there`.

The

[2019-11-25 12:36] NickSeagull commented on #126
This is merged in `dev` now, closing...

[2019-11-25 12:36] #126 closed

[2019-11-25 21:59] timorunge commented on #127
Hey @federico-terzi,

that's not an easy question. Since I'm not aware how espanso actually can detect input forms etc. it's hard to make a good judgement here. Something which sounds naive: A valid separator should be every started input in a new field which was not used before.

So basically whenever the focus is changing from one window / field to another one and the user is starting to type so

[2019-11-27 20:28] federico-terzi opened #130 "Multiline strings are not working correctly on Thunderbird Ubuntu"

[2019-11-28 18:14] federico-terzi commented on #101
Hi @tfgzs,
I'm sorry for the late reply, I've been very busy in the last few weeks.
I looked into your problem but unfortunately, I couldn't find any satisfying solution.
I'll keep this issue open in case someone with some experience in MacOS Chinese input methods  finds a solution.

Cheers

[2019-11-28 18:30] federico-terzi commented on #127
Hi @timorunge,
Sorry for the late reply, I've been super busy in these days :)

That would be ideal, but I don't think it's possible to achieve from the information available to espanso, as it can only see key presses.

There's no way that I'm aware of to detect a change in the Input field globally, but it should be possible to detect a change in the focused application. That would partially mitig

[2019-11-28 18:36] federico-terzi commented on #124
Hi @Tzahreddin,
I've looked into your issue and multiline strings are working correctly for me on MacOS. Which operating system are you using?
Try with this syntax:
[code]

Let me know if it works in your machine so that we can close this issue.

Thanks for your help

[2019-11-28 19:13] federico-terzi commented on #123
Hi @sciencetaco,
I've looked again into your problem but I could only come up with a partial solution.
In particular, due to a limitation of Microsoft RDP, the clipboard is only copied from macOS to Windows when the former has focus.
This has the unwanted consequence of registering only the first expansion and not the following ones until you focus again macOS and back on Windows.
Said in other wo

[2019-11-29 21:12] federico-terzi commented on #130
espanso 0.4.0 will ship with **configurable paste shortcuts** that will enable the user to select the correct paste shortcut based on the application.

In order to correctly expand multiline strings with Thunderbird, espanso needs to use the `CTRL+SHIFT+V` shortcut. After this update, the user will simply need to add the `thunderbird.yml` file in the `user` folder (inside the espanso config direct

[2019-11-29 21:23] federico-terzi commented on #122
Hi @muralikodali,
I'm currently in the process of developing a feature that could solve this problem.
When using emacs, which keyboard shortcut do you use to paste content?

Thanks for your help

[2019-11-30 18:32] #130 closed

[2019-11-30 18:33] federico-terzi commented on #96
Added in version 0.4.0!

[2019-11-30 18:33] #96 closed

[2019-12-02 14:31] sciencetaco commented on #123
@federico-terzi Thank you for taking a look at this. I might try to see if accessing the RDP client via guacamole solves this issue for me.

[2019-12-02 16:57] timorunge commented on #127
Hey @federico-terzi

don't worry. I'm also busy these days. :)

What's about an implementation which will combine the best out of solution 1 and 2? Would that technically be even possible? Because in this case there will be all the pros - OFC the con of a potentially harder implementation.

[2019-12-03 13:20] federico-terzi commented on #123
You're welcome, let me know if you're able to fix the issue.

Thanks for your help :)

[2019-12-04 14:04] DutchPete opened #132 "Espanso does not work to log into apps"
I use an Espanso snippet to log into the SpiderOak GUI window that pops up when I launch SO on my Mac. I think this a security feature of the Mac, but is there a way to bypass this?

[2019-12-04 21:35] federico-terzi commented on #132
Hi @DutchPete,
Do you mean using espanso on password fields? If that's the case, it's not possible to bypass on macOS as the operating system blocks every operation on those for security purposes.

Cheers

[2019-12-04 21:41] federico-terzi commented on #127
Hi @timorunge,

Your solution would be certainly the best one, though it will require some time to be developed. I'll add it to the roadmap, but I can't make any promise on the release date :)

Thanks for your help :)

[2019-12-05 08:47] DutchPete commented on #132
@federico-terzi : yes, that's what I mean.
So, OK, I'll have to accept. Thanks for the reply, I'll close this issue.

[2019-12-05 08:47] #132 closed

[2019-12-05 09:09] tiktuk commented on #118
I came here to suggest something similar.

It could be great if one could pass arguments with triggers. Could work like this:

    - trigger: ":greet/Tuk"
      replace: "Hi {{}},\n\nthanks for your message.."

`{{}}` would then be replaced with `Tuk`.

Keyword arguments could work like this:

    - trigger: ":greet/name=Tuk"
      replace: "Hi {{ name }},\n\nthanks for your message.."

Lists of a

[2019-12-05 11:53] tiktuk opened #133 "List triggers in menu"
It could be really useful if the menu listed all the triggers so one could check them without opening the config file.

[2019-12-05 18:24] federico-terzi commented on #118
Hi @tiktuk,
Thanks for your suggestion, I'm still considering a good way to implement this feature and all the help is appreciated.

At the moment, the biggest problem is related to the termination character. Let's say I follow your suggestion with something like:

[code]

At that point, to use it the user would type something like: `:greet/Bob`

which would get expanded into:
[code]

Let's say I

[2019-12-05 18:25] federico-terzi commented on #133
Hi @tiktuk,
Thanks for the feedback, do you mean a command for the espanso cli?
Something like:

[code]

Or do you mean an overlay GUI while typing?

[2019-12-05 19:44] timorunge commented on #133
My two cents: The triggers are there to not look something up but in order to improve speed and productivity. This is - from my point of view - not the case if you have to take a look at the triggers that you've configured.

A second point is that - if you have an enormous amount of triggers (I have `28062` in total) - it will be pretty much impossible to find what you're looking for.

[2019-12-05 19:56] timorunge commented on #118
Another question is: Will this scale? What to do if you wanna implement the same with two variables? Personally I'd suggest some kind of a sed implementation which is more generic and where you have the possibility to replace more than just one variable.

[code]

This could end up in something like:

[code]

[2019-12-05 20:05] timorunge commented on #127
@federico-terzi don't worry. It's a nice to have. But maybe it can be combined with #118. Because technically it's more or less the same.

[2019-12-07 16:44] tiktuk commented on #118
But that wouldn't work for multiple arguments, no? Espanso wouldn't know whether the argument or the trigger ended. (Eg. `:greet/Jon Snow/mail/`).

Arguments with spaces could require quotes: `:greet/"Jon Snow"`. For multiple args: `:greet/"Jon Snow",mail,today`. Here comma is a special character as well of course.

Escape with `\` like in most string formatting? Actually we should then maybe use

[2019-12-07 21:12] federico-terzi commented on #118
Hey guys,

To answer @timorunge:

I see your point. The only thing that concerns me about your solution is the number of characters a user would need to type, as this long syntax would make those expansions potentially slower to use than typing the output directly.

I mean, if the user had to type: `:greet;s/$1/Jon Snow/;s/$2/today/` then probably he's better off typing the output directly. If, on

[2019-12-07 21:15] federico-terzi commented on #133
Honestly, I agree with @timorunge, as the whole point of espanso is to speed up the user.
That said, I can see the usefulness of some sort of *autocompletion list* that appears while typing, like in most code editors, to show the available triggers. Unfortunately, it's too complex to implement at the moment.

[2019-12-08 06:46] muralikodali commented on #122
I use p (evil mode) or shift+insert to paste content in emacs

[2019-12-09 16:03] m4mum opened #134 "Unable to start espanso - Result::unwrap() panicked"
$ espanso start
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Os { code: 2, kind: NotFound, message: "No such file or directory" }', src/libcore/result.rs:1084:5
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace.

$ export RUST_BACKTRACE=1

$ espanso start
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Os { code: 2, kin

[2019-12-09 20:27] federico-terzi commented on #134
Hi @m4mum,

Thanks for your feedback, I'm sorry you experienced this issue. I'll need a few more info to help you, in  particular:

* What operating system are you using?
* Can you post here the output of `espanso path`? (if it doesn't crash)

Thanks for your help

[2019-12-09 23:04] federico-terzi commented on #128
Hey @timorunge,
I finally had the chance to look at this problem using a macOS Catalina (10.15) virtual machine, but I couldn't reproduce the problem with Alacritty. It worked as expected on my machine, which is strange indeed. Maybe it has to do with the fact I'm running the latest Alacritty version.

[2019-12-10 00:29] timorunge commented on #128
Hey @federico-terzi, thanks a lot.

Actually the problem is also happening with the latest stable release from alacritty (0.4.0). Some days ago I had it working after some changes and tests in the alacritty configuration. A couple of hours and sleep modes later it stopped.

On MacOS: How is the paste mechanism handled internally? It's possible to define the same in alacritty but actually everythin

[2019-12-10 10:00] m4mum commented on #134
Hi Federico

Similar error I found on net related to rust... but I am totally noob with
Rust.
Here is requested details

raxitsheth@raxits-Lenovo-G570:~$ espanso path
Config: /home/raxitsheth/.config/espanso
Packages: /home/raxitsheth/.local/share/espanso/packages
Data: /home/raxitsheth/.local/share/espanso

raxitsheth@raxits-Lenovo-G570:~$ uname -a
Linux raxits-Lenovo-G570 3.13.0-170-generic #220

[2019-12-10 13:09] federico-terzi commented on #134
All right, thank you @m4mum. Could you please run these commands and post here the output?

[code]

Judging from the error, a file is probably missing.

Thanks for your help :)

[2019-12-10 13:17] federico-terzi commented on #128
Hi @timorunge,

When I personally tested it, I used the default `Inject` backend rather than `Clipboard`.

That's very strange indeed, maybe you could try deselecting and reselecting espanso from the Accessibility settings, to see if it helps.

As far as I know, macOS has a global clipboard in which espanso copies the expanded match when using the `Clipboard` backend. In theory, if after an expans

[2019-12-10 13:50] m4mum commented on #134
Hi @federico-terzi/espanso <espanso@noreply.github.com>

Here you go :)

raxitsheth@raxits-Lenovo-G570:~$ ls -R /home/raxitsheth/.config/espanso
/home/raxitsheth/.config/espanso:
default.yml  user

/home/raxitsheth/.config/espanso/user:
raxitsheth@raxits-Lenovo-G570:~$ ls -R /home/raxitsheth/.local/share/espanso
/home/raxitsheth/.local/share/espanso:
espanso.lock  packages

/home/raxitsheth/.local

[2019-12-10 15:11] tiktuk commented on #133
I did actually think about a menu with the triggers in the menubar menu. An autocompletion list could be super cool but I unedrstand that that would be a much bigger project.

I thought about a cli command listing a table with triggers / replacements would be a nice touch.

[2019-12-10 15:19] tiktuk opened #135 "Warn about conflicting triggers"
It could be nice if Espanso detected and warned about conflicting triggers on startup. So if both `:ab` and `:abcd` was in the config it would warn about `:abcd` being "overwritten" by `:ab`.

[2019-12-10 18:21] federico-terzi commented on #134
Hey @m4mum,

I think I found the culprit. You are using Ubuntu 14.04 which uses Upstart instead of Systemd to manage background processes. For this reason, when espanso tried to communicate with Systemd using the `systemctl` command, it failed.

In the next release I'll try to add a check to make this error more clear in the future.

At this point, you have two options:
* If you are willing to upd

[2019-12-10 18:24] federico-terzi commented on #135
Hey @tiktuk,

This is a nice idea, I'll try to include it in the next version of espanso as I also had a similar problem.

Thanks for your help! :)

[2019-12-10 18:27] federico-terzi commented on #133
I really appreciate your help, unfortunately at the moment it would be complicated to implement and I'd like to work on other more important features.

I'll try to work out something for this problem as it may be useful in some cases.

Thank you

[2019-12-10 20:54] m4mum commented on #134
👍👍👍👍  @federico-terzi/espanso
<reply@reply.github.com>
(typed using espanso!)

Thanks

On Tue, Dec 10, 2019 at 11:51 PM Federico Terzi <notifications@github.com>
wrote:

[2019-12-10 21:15] m4mum commented on #121
@federico-terzi
App specific configuration may be of little use.

e.g. In browser one tab IM (WhatsApp etc, other tab - email, 3rd tab Docs). One may need different behaviour

Ex.   :test ->  Hello <enter> World <enter> on IM. And \n on other tabs! :)

[2019-12-11 17:59] timorunge commented on #128
Hey @federico-terzi

I tried both. Same result.

I've already done this - it's required with every espanso update anyway since the location of the binary file is changing (when using homebrew). I've tested it once again without any impact.

This was a good hint. I've started to play around a little bit and ...

..tested this. The previous value was staying in the Clipboard...

... I've re-setup th

[2019-12-11 18:12] federico-terzi commented on #134
Glat to know that :)

[2019-12-11 18:12] matt-h opened #137 "Suggestion: Adopt rustfmt formatting for the project."
`cargo fmt` currently makes a many changes throughout the project.

A suggestion would be to adopt using the [rustfmt](https://github.com/rust-lang/rustfmt) style auto-formatter to make the project consistent with other rust projects.

[2019-12-11 18:14] federico-terzi commented on #121
Hi @m4mum,
I'm not really sure I understood your point, app-specific configs are already available: https://espanso.org/docs/configuration/#application-specific-configurations

Cheers

[2019-12-11 18:24] federico-terzi commented on #128
Hey @timorunge

You're absolutely right, I didn't think about that! I'll update the documentation to mention this aspect.

Glad to hear that! It's not a perfect solution, but it's something :)

[2019-12-11 18:28] federico-terzi commented on #137
Hi @matt-h,

That's surely a great suggestion. Considering the number of resulting changes, it would be better to ship it in a major release probably.

What do you think about it?

Thanks for your help

[2019-12-11 18:38] m4mum commented on #121
Hi @Federico-Terzi/Espanso

A sample demo of config for enter/return on linux (& other os) will be great

Raxit

On Wed, 11 Dec 2019 at 11:44 PM, Federico Terzi <notifications@github.com>
wrote:

[2019-12-11 20:17] WardsParadox opened #138 "Espanso stops expanding after waking from sleep"
Using espanso on macOS 10.14 or 10.15 (seems more noticeable though) seems to die after waking from a sleep. Sometimes using `restart` to restart the daemon fixes it, but not reliably. I have to usually perform a full restart to get it to start using expansions again.

[2019-12-11 20:38] o175 commented on #122
Hi there!
I have the same issue.
Is it possible to re-type expansion text letter by letter instead of pasting it? Will it be slow?

[2019-12-11 22:37] matt-h commented on #137
That is fine to wait for that.

Although it is pretty much just whitespace changes of the code so shouldn't result it any feature changes. Tests all passed still after I tried it.

I mostly just noticed because I had to turn off the rust auto formatter in my editor when making a change otherwise it was changing a lot of code.

[2019-12-12 08:09] federico-terzi commented on #137
Glad to hear that, I'll keep you updated.

Cheers

[2019-12-12 08:24] federico-terzi commented on #122
Hi @o175,
I'm glad you were able to solve your problem with the `backend` option. Keep in mind that on Linux, that option may be unable to correctly type non-ascii characters in some editors.

For this reason, I would personally limit the `Inject` backend to emacs only, so that other applications can work with the default one. You can achieve this with App-specific configuration: https://espanso.o

[2019-12-12 08:27] federico-terzi commented on #138
Hey @WardsParadox,
Thank you for your feedback, I'll take a look at it in the next few days and let you know :)

By the way, @timorunge are you suffering from the same problem?

Cheers

[2019-12-12 08:29] federico-terzi commented on #121
Hi @m4mum,
I'm sorry, I didn't understand your first message properly. Espanso currently does not support sending 'enter' after deliberately. I may add this possibility in the future though.

Thanks for your help

[2019-12-12 08:30] #134 closed

[2019-12-12 08:32] federico-terzi opened #139 "Switch to unmanaged mode if the system does not support Systemd"
To avoid problems such as #134, warn the user about the lack of Systemd support and switch automatically to unmanaged mode.

[2019-12-12 11:08] tiktuk commented on #118
That last approach sounds great, @federico-terzi ☺️ !

[2019-12-12 15:18] cricrazy opened #140 "Can you use Tab as a trigger to auto complete?"
For example:

[code]

or any other key to invoke Tab key?

Thank you.

[2019-12-12 16:48] federico-terzi commented on #140
Hey @cricrazy,

Honestly, I never thought about this possibility, but it can be definitely useful in some situations.
There are two problems that come to my mind though:
* Some editors replace them with spaces, and therefore espanso can't correctly predict how many characters to delete before applying the match.
* In the majority of text fields, if you press tab after writing, it focuses on the ne

[2019-12-12 20:09] cricrazy commented on #140
@federico-terzi,

Yes, there are some issues with offering such capability.

- Text editors tend to have different behavior for the tab functionalities.
- Also the Command line may behave differently.

The reason for my suggestions was that many of the snippet completion for Source code editors (like Vim, Notepad++) uses Tab for expanding the code snippet.

I wonder what other thinks about this?

[2019-12-12 20:46] MiloTodt commented on #140
Would using a key other than tab potentially help with the mentioned issues?

[2019-12-12 21:58] federico-terzi commented on #140
Hey guys,

I'd probably wait to implement TAB support, as it can have many unwanted consequences.

With espanso, you can pretty much use any printable key in the trigger. For example, I usually prepend all my triggers with the `:` character, so that a match becomes `:date`. In the same way, you could use for example a dot at the end, such as `date.`

Let me know what you think

Thanks for your hel

[2019-12-12 22:29] davidf4 commented on #118
What do you think about an regex-approach?
Then one could specify the arguments by the regex-syntax and everyone can define their own seperator-char, which gives the flexibility to handle variables including a "/".

(sorry if the rust-regex-syntax differs slightly)
- trigger: ":greet/([^/]*)/([^\s]*)\s"
  replace: "Hi {{\1}},\n\nthanks for your message from {{\2}}..."

Should give the deserved res

[2019-12-13 15:57] Banbury opened #141 "Does not run on Windows 7"
The website should state clearly, that espanso is only running on Windows 10.
Also the installer shouldn't install espanso on anything but Windows 10.

Or you could make a version, that runs on older versions of Windows. I'm not the only person, who doesn't like Windows 10.

[2019-12-13 19:20] federico-terzi commented on #141
Hi @Banbury,

You are right, I'm sorry you experienced this issue. I tested espanso on Windows 8 and it wasn't working as expected, though I may get it working on Windows 7. What kind of errors are you getting?

Nevertheless, I'll try updating the description on the website to make the situation more clear.

Thanks for your help :)

[2019-12-13 19:25] Banbury commented on #141
You're using several functions, that are only available on Windows 10.
The first was SetThreadDpiAwarenessContext.

I can't remember the rest, and I've uninstalled espanso already.

[2019-12-13 19:51] federico-terzi commented on #141
No problem, I'm sorry about that.

Honestly, I didn't pay much attention to older versions of Windows, as Windows 7 is going to get discontinued soon: https://support.microsoft.com/en-us/help/4057281/windows-7-support-will-end-on-january-14-2020

Supporting 3 platforms is already pretty demanding for me, I had to make some compromises.

Thanks for your help anyway, I'll update the website so that

[2019-12-13 19:54] federico-terzi commented on #124
Considering that there have been no updates on this issue, I'll close it now as I can't reproduce the problem.
Let me know if you need more help.

Cheers

[2019-12-13 19:54] #124 closed

[2019-12-13 22:03] focusaurus commented on #133
Just a note on my workflow as I have experience with 2 basic approaches prior to discovering espanso.

- On mac with Keyboard Maestro I had things setup as a postfix trigger, so typing "em,," would detect the double-commas, parse the preceeding simple word ("em" in this case) and lookup the matching expansion based on that (in this case my email address)
- Now on linux, I'm using a menu-driven app

[2019-12-13 22:37] federico-terzi commented on #133
Hey @focusaurus,

This is pretty easy to achieve on espanso, you just need to put `,,` as a suffix in the trigger and espanso would do the rest. So instead of configuring the match with `em` you would use `em,,`.
That said, we can also think about an option to automatically apply a prefix or a suffix to all matches, so you don't have to do so manually.

I like this idea. In this case, we would nee

[2019-12-13 23:43] focusaurus commented on #133
Yup. Of course this could be built by parsing the config file with existing yaml cli tools as well, maybe as a prototype.

[2019-12-14 09:25] federico-terzi commented on #133
Sure, though this part could be implemented quite easily. It's the second part, the one actually executing the trigger, that requires a bit more planning.

[2019-12-16 17:33] #139 closed

[2019-12-16 17:41] bashfulrobot opened #143 "Repmacement bug in VIM"
Hi there. I was having an issue similar to: https://github.com/federico-terzi/espanso/issues/127

The way I had worked around that bug (for spelling mistakes) is to do something like:

[code]

I am mostly using the spaces to trigger the replacement but also cut down on false/positives.

This seems to work great with the exception of vim (vim-nox specifically on Ubuntu). I am also using ZSH as my s

[2019-12-16 17:41] federico-terzi commented on #122
Hi @muralikodali,
This bug should be fixed in version 0.4.1. Let me know if you experience any other error.

Thanks for your help :)

[2019-12-16 17:41] #122 closed

[2019-12-16 17:43] federico-terzi commented on #112
Hey @xircon,

I shipped an update (version 0.4.1) that should fix these problems. Let me know if you experience any other bug.

Thanks for your help!

[2019-12-16 17:43] #112 closed

[2019-12-16 17:51] federico-terzi commented on #143
Hey @bashfulrobot,
Thanks for your feedback, I'll ask you a couple of questions to understand your problem better:

In case you're not using them, have you already tried [word triggers](https://espanso.org/docs/matches/#word-triggers)? They were designed to avoid having to put spaces before and after the words. That said, they are not perfect and will definitely see some improvements in the next f

[2019-12-17 16:11] muhlinux opened #144 "Support multiple triggers for the same expansion"
Could just use yaml lists for this e.g.
[code]

And a short form:

[code]

I realize you could make a new expansion with a different trigger, but i think this would be nice to see, and keep the config file cleaner...

[2019-12-17 22:12] federico-terzi commented on #144
Hey @muhlinux,

Thanks for the feedback, this could be a good feature to have. I'll add it to the roadmap.

Cheers :)

[2019-12-17 22:15] federico-terzi commented on #143
Hey @bashfulrobot,

Thanks for the feedback! espanso currently does not support the `Tilix` terminal, but I'll definitely add support in the next release :)

Do you have any chance of trying espanso in another terminal?

Thanks for your help

[2019-12-18 13:29] muhlinux opened #145 "[Documentation] Clarify matches"
## Valid YAML doesn't require quotes
https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html

This is one of the current examples of the syntax

[code]

To replace the original text with a multi-line expansion, we can use the \n line terminator character, such as:

[code]
---

I tested this and It works

[code]

To replace the original text with a multi-line expansion, we can

[2019-12-18 13:42] Kwelity opened #146 "Regex in trigger"
Hi,

It would be cool to use regular expression for trigger, something like this:

[code]

Thanks for an awesome project :)

[2019-12-18 14:33] muhlinux opened #147 "word: true doesn't work with vars"
Using `word: true` doesn't work with expansions using vars like the date, random, shell, etc.
I like to use triggers without any prefixes. This is hard to do without being able to mark as a word...

[2019-12-18 17:07] wadbr commented on #140
using ` would produce the same result but without using a modifier key, right? Plus it's very close to the tab key

[2019-12-18 21:12] federico-terzi commented on #140
Hey @wadbr,

Yep, I'd say this could be a great solution to the problem.

Cheers :)

[2019-12-18 21:18] federico-terzi commented on #147
Hey @muhlinux,

Sorry for the late reply, I've been super busy this week. I tried setting up a word match with a date and is working as expected:

I tried:

[code]

and it is working as expected. Could you please post the match in which you have problems?

Thanks for your help

[2019-12-18 21:23] federico-terzi commented on #146
Hey @Kwelity

Sorry for the late reply, it's been a super busy week!
Thanks for the feedback, it would certainly be a good feature to have. Due to the way espanso works, implementing full regex support would be problematic though.

Besides the UPPER/lower case insensitivity, which use-cases would benefit from it in your opinion?
If we individuate a set of cases, we could think about implementing a

[2019-12-18 21:40] federico-terzi commented on #145
Hey @muhlinux,

First of all, thank you for helping me improve the documentation :)

I like this part and I'll definitely add it to the documentation:

On the other hand, I'm not sure about suggesting users to avoid using `"` at all. From my perspective, it's better to show a single, opinionated, way to do things in order to keep them simple.
If we tell users to go ahead and use triggers without q

[2019-12-18 21:44] federico-terzi commented on #143
Hey @bashfulrobot,

If you could try with `gnome-terminal` that would be ideal! In the meanwhile, I'll remember to add support for Kitty as well.

Thanks for your help :)

[2019-12-18 22:22] Kwelity commented on #146
Hum, my most "pressing" feature request would be simplify multi trigger with regex, I think I saw another issue about multi trigger. This would solve it just fine.

What I could imagine doing if we had full regex support (I do understand that this is not a trivial feature and might be to demanding in term of performance) would be to capture pattern in a trigger that are then used in replace.

Some

[2019-12-19 09:21] muhlinux commented on #147
Hi @federico-terzi,
Don't stress mate, you doing good.

This doesn't expand for me, it does without the word match though.
[code]
Another example:
[code]
espanso 0.4.1
Linux 5.4.3-arch1-1

[2019-12-19 14:52] muhlinux commented on #147
I closed it too soon.
Word match behaves weird. When using a trigger without a prefix like the `hi` [one above](https://github.com/federico-terzi/espanso/issues/147#issuecomment-567406649) , it only triggers the second time I type `hi`, or if hi is not the first word in a sentence... :thinking:

[2019-12-19 20:18] federico-terzi commented on #146
Hey @Kwelity,

I agree that full regex support would be ideal. Unfortunately, due to the "realtime" nature of espanso, this is very difficult to achieve. That said, it seems like you want something along the lines of #118, which is one of the most requested features (hopefully coming soon).

I'll think about a way to implement regex support anyway, thank you for the help :)

[2019-12-19 20:19] federico-terzi commented on #143
Thank you very much @bashfulrobot, I'll try to add support for both Tilix and kitty in the next version of espanso :)

[2019-12-19 20:22] federico-terzi commented on #147
Hey @muhlinux,
Unfortunately, this is a known problem and it's not trivial to solve. I'll definitely work on it in the next few days. If you want to stay updated, take a look at issue #127.
Thanks again for your help :)

[2019-12-20 21:01] federico-terzi commented on #118
Hey @davidf4,

Thank you very much for the great feedback. I don't know why but I didn't receive a notification for this message, otherwise, I would have replied earlier.
Yes, this approach is probably the most flexible one and probably the one that will get implemented. That said, it will only be available in *passive mode* #62 due to the many difficulties of regexes in "realtime" mode.

Thanks f

[2019-12-20 22:08] federico-terzi opened #148 "Sometimes an expansion gets overwritten before pasting when preserve_clipboard option is on"
A decent solution could be delaying the clipboard restoration by a few milliseconds after a match expansion.

[code]

[2019-12-22 11:43] Kwelity commented on #146
@federico-terzi sure thing, I understand, I'll keep an eyes on the issue you mentioned.
If you'd like, you can close this issue.

[2019-12-24 10:49] siddbudd opened #149 "[Documentation] Mention libnotify-bin in the installation instructions"
I just installed espanso on Pop!_OS according to the instructions for Ubuntu and was told after attempting to start espanso that

So I did some research and found that the required package is called 'libnotify-bin'. It would be ideal if you could include that in the line
`sudo apt install libxtst6 libxdo3 xclip`
and change it to
`sudo apt install libxtst6 libxdo3 xclip libnotify-bin`
Anyway, nothi

[2019-12-24 13:14] siddbudd opened #150 "issue with replacing trigger"
I have been playing around with espanso on Pop!_OS for a couple hours now, trying to use it as a replacement for trusty AHK (I am coming from Windows). I am experiencing an issue with the trigger not always being fully replaced. Sometimes the first 1 character, very rarely the first 2 characters remain. On other occasions a space is introduced before the replacement.

E.g. my trigger is "/essr" an

[2019-12-24 22:22] #146 closed

[2019-12-24 22:24] federico-terzi commented on #149
Hey @siddbudd,
This is a great suggestion! Thank you very much for your help, I'll update the documentation soon.
Merry Christmas :)

[2019-12-24 22:27] federico-terzi commented on #150
Hi @siddbudd,
This is strange indeed. It only happened to me a few times on a particular software, in which applications are you experiencing this phenomenon?

Thanks for your help :)

[2019-12-24 22:31] Scrumplex commented on #149
I already updated the AUR package to add libnotify as a dependency.

[2019-12-24 22:42] federico-terzi commented on #149
Thank you very much as always @Scrumplex :)

[2019-12-25 09:30] a-baghdadi opened #151 "Archlinux and DWM"
Hi

[ali@nuc ~]$ espanso start
Daemon started correctly!
[ali@nuc ~]$ espanso status
espanso is not running

Does not working after says started correctly!!
Thanks

[2019-12-25 09:41] federico-terzi commented on #151
Hey @a-baghdadi,

Thanks for the feedback, this is strange indeed! Could you please run `espanso log` and post the output here?

Cheers

[2019-12-25 09:43] a-baghdadi commented on #151
Thank you dear federico-terzi for your fast reply

I am using DWM on Arch
Here you are :

[ali@nuc ~]$ espanso log
09:41:44 [ INFO] espanso version 0.4.1
09:41:44 [ INFO] using config path: /home/ali/.config/espanso
09:41:44 [ INFO] using package path: /home/ali/.local/share/espanso/packages
09:41:44 [ INFO] starting daemon...
09:41:44 [ERROR] Error, can't connect to X11 context

[2019-12-25 10:10] federico-terzi commented on #151
It seems like espanso is unable to connect to X11.
Are you using Wayland? Otherwise, it may be due to something going on with DWM.
You could also try executing `espanso -v daemon` and see if you still see `Error, can't connect to X11 context`.

Let me know :)

[2019-12-25 10:17] a-baghdadi commented on #151
espanso -v daemon works without problem (a few errors) like this :
[ERROR] Unable to receive char: invalid utf-8 sequence of 1 bytes from index 1

I am using X11 (not wayland)

Thank you very much

[2019-12-25 10:27] a-baghdadi commented on #151
Switched to Xfce4 and still the same with espanso start and espanso is not running
like DWM.

[2019-12-25 10:33] Scrumplex commented on #151
Is there a `$DISPLAY` environment variable present when starting espanso? Where are you running `espanso start`? That error appears when you have no `$DISPLAY` at all or just an invalid value for the variable.

[2019-12-25 10:37] a-baghdadi commented on #151
[ali@nuc ~]$ echo $DISPLAY
:0

I run espanso from ST terminal in Archlinux and DWM

[2019-12-25 12:09] a-baghdadi commented on #151
The problem is solved.
I copied xinitrc again from its default location to home folder and everything works fine.

thank you federico-terzi and Scrumplex.

[2019-12-25 12:09] #151 closed

[2019-12-26 07:05] SantoshSrinivas79 commented on #145
@muhlinux many thanks for this explanation.

Is there a way to create a trigger for the below snippet. I tried as follows:

[code]

However, the quotes get replaced in a different character in `TextEdit` application on Mac.
If I try to trigger in devtools, it doesn't simply output to the console.

[2019-12-26 23:23] federico-terzi commented on #145
Hey @SantoshSrinivas79,
Could you please make a screenshot of the output?
Thanks for your help

[2019-12-26 23:26] federico-terzi commented on #151
Glad to hear that  @a-baghdadi :)

[2019-12-30 10:38] muhlinux opened #152 "Case affects expansion"
This is a feature I'm missing from AutoKey.
To me it makes sense to add it to the word feature, it could get its own key of course.
[code]
foo = bar
Foo = Bar
FOO = BAR

[2019-12-30 18:09] federico-terzi commented on #152
Hey @muhlinux,
This is definitely a good feature to have, I'll add it to the project roadmap.

Thanks for your help :)

[2020-01-01 14:50] s7dhansh commented on #112
@federico-terzi Still not working in yakuake :(

[2020-01-02 06:38] SantoshSrinivas79 commented on #145
@federico-terzi here is the animated gif (both using espanso and copy and paste later)

My exact config in `default.yml` is:

[code]

![espanso-dev-tools-bug](https://user-images.githubusercontent.com/1036163/71654593-892cad80-2d58-11ea-985f-81e4ce3555d4.gif)

[2020-01-03 08:42] federico-terzi opened #153 "Support for yakuake terminal"
As mentioned in https://github.com/federico-terzi/espanso/issues/112#issuecomment-570059036

Detected change, current window has properties:
==> Title: 'sudhanshu : tmux: client — Yakuake'
==> Class: 'yakuake'
==> Executable: ''

[2020-01-03 08:42] federico-terzi commented on #112
Hey @s7dhansh, thank you for the feedback, I'll try to improve support for `yakuake` as well in the next version :)
Check out the status of this issue #153

[2020-01-03 08:49] federico-terzi commented on #145
Hey @SantoshSrinivas79,
you can try switching espanso to `Clipboard` mode by adding this line in your `default.yml` file:

[code]

and then restart espanso. This should work correctly in your case.
You could even make an [application specific](https://espanso.org/docs/configuration/#application-specific-configurations) configuration just for chrome, to avoid using the clipboard backend on all appl

[2020-01-03 09:30] SantoshSrinivas79 commented on #145
Hi @federico-terzi,

Thank you! That works! :-)

I had to add a line after `// https://hackernoon.com/copying-text-to-clipboard-with-javascript-df4d4988697f`

Else, it was getting merged into the next line.

Below version works:

[code]

[2020-01-05 10:38] federico-terzi commented on #145
Glad to hear that @SantoshSrinivas79 :)

[2020-01-07 03:36] MarihFiba opened #154 "Support multiple replaces with the same trigger"
Hi @federico-terzi,

Thanks for your hard work on espanso. I think it has huge potential.

I have a sophisticated setup on PhraseExpress with hundreds of terms. As a translator I have to use many words regularly and the easiest way to remember all the triggers is to apply a logic.

For me, this logic has to be:
- short to justify using a text expansion solution
- consistent to help remember every

[2020-01-07 10:01] tylerlmz1 commented on #101
- espanso 0.4.1
- Linux Mint 19.3
- default.yml

I've tested this out on Linux Mint 19.3, it doesn't work too

anyway, I love this software, I have been looking for a text expanding solution for Linux for quite long, and I'm amazed by the premium quality! Thank you so much for this!

[2020-01-07 20:24] federico-terzi commented on #101
Thank you for the kind words @tylerlmz1!
Unfortunately, due to the very small amount of free time I have in this moment, it's hard to predict when this feature could be implemented... but stay tuned :)

[2020-01-07 20:31] federico-terzi commented on #154
Hey @MarihFiba,
Thank you very much for the great feedback!
At the moment implementing a dropdown would be problematic due to the number of supported platforms. That said, I don't exclude the possibility as many users already requested a similar feature.

In your opinion, is really worth it to have a dropdown menu to select a word such as "kadar"? Because for 5 characters it would probably be fast

[2020-01-08 03:53] MarihFiba commented on #154
Thanks for getting back!

As for your question, when you're on my field, that changes everything. :)

In my case, we have to use thousands of words every day and quality for every one of them is very important.

Abbreviating even short words provides two advangtages:
- You need to think less about typing, you can focus on what to type
- Most importantly this allows us to spend much less time for s

[2020-01-09 09:23] sidouglas opened #155 "Popos - notify-send is not installed by default"
http://vaskovsky.net/notify-send/linux.html
Please update your docs - because I wasn't able to start espanso without it.

[code]

[2020-01-09 09:39] tiborepcek opened #156 "local date formats"
Hi and thank you alot for espanso.

I am using espanso under Windows 10 and i would like to locale name of the day stored in %A variable into slovak language.

Is it possible?

[2020-01-09 21:45] federico-terzi commented on #154
That sounds defintely reasonable, thanks again for the great feedback!
Stay tuned :)

[2020-01-09 21:49] federico-terzi commented on #155
Hey @sidouglas,
Thanks for reporting this, it's problably the same problem as #149.
I'll definitely update the docs as soon as I have some time, the last few weeks have been crazy busy for me :)
Thanks for your help

[2020-01-09 22:05] federico-terzi commented on #156
Hey @tiborepcek,
Thanks for the kind words. At the moment, the Date Extension is based on the [chrono](https://docs.rs/chrono/0.3.1/chrono/format/strftime/index.html) Rust crate, which doesn't seem to support localized names.
That said, it should be relatively easy to build a workaround using the [Script Extension](https://espanso.org/docs/matches/#script-extension). For example, if you have pytho

[2020-01-09 22:09] tiktuk opened #157 "Word triggers on start of line behaviour?"
Hi,

I just set up a word trigger and found out it works differently in different contexts:

    - trigger: ":mymail"
      replace: mail@example.org
      word: true

In Telegram and the Safari address bar I need to type a space before and after for it to trigger.

In TextMate and TextEdit it's enough to end with a space.

I prefer the last behaviour so I don't end up with an extraneous space in

[2020-01-10 07:33] tiborepcek commented on #156
Thank you for your solution, it works. :)

But i also need a way without Python. Can i somehow do it?

[2020-01-10 20:56] federico-terzi commented on #156
You're welcome :)

At the moment it is not possible, but I don't exclude the possibility to add this feature in the future. Keep following this issue if you want to stay updated.

Cheers :)

[2020-01-10 20:58] federico-terzi commented on #157
Hey @tiktuk,
Thanks for your feedback! Unfortunately, this is a known problem. I'm still trying to figure out the best way to solve it. Follow this issue to stay updated: #127

Cheers :)

[2020-01-10 20:58] #157 closed

[2020-01-14 14:52] pifiuk opened #158 "Top keyboard number keys stop working."
Im using Espanso on Windows 64 bit. In what seems to be random intervals my number keys at the top of my keyboard seem to stop working. It is a software issue as I can change keyboards and even use the laptop keyboard itself and it still occurs.

Fortunately I found espanso because I had this issue with previous text expanders but I would love to get to the bottom of it. What method does Espanso u

[2020-01-15 20:22] federico-terzi commented on #158
Hey @pifiuk,
Thank you very much for the feedback. I'll ask you a couple of questions to better understand the problem:

Do matches without numbers still work?

Espanso uses [Raw Input API](https://docs.microsoft.com/en-us/windows/win32/inputdev/raw-input) on WIndows to detect keypresses.

Are you sure you aren't accidentaly disabling espanso with double ALT presses?

Thanks for your help :)

[2020-01-17 20:48] jkmgme opened #159 "Adobe Creative Cloud 2020 conflict on macOS Mojave 10.14.6"
I've been dealing with this issue for about a month now. I had Catalina, and have reverted to Mojave due to Catalina's many issues. The one issue that I was facing on Catalina that has resurfaced on Mojave is presented as a particular tool (specifically the "Hand" tool used to grab the artwork and move it around) shows stuck/frozen. This also disables any other tool access specifically in Photosho

[2020-01-17 22:21] federico-terzi commented on #159
Hey @jkmgme,
Thank you very much for your feedback, it's definitely a problem. In fact, when using macOS I experienced the exact same issue with Photoshop related to the stuck Hand tool. If I recall correctly, what I did was removing **Photoshop** from the applications with accessibility permissions, though I may be wrong.

Could you please check if is there "Photoshop" in the list of Accessibilit

[2020-01-17 23:37] jkmgme commented on #159
Hey @federico-terzi !
Thank you for your prompt reply.
I don't currently have and have not had Photoshop as an included application with accessibility permissions via System Preference > Security & Privacy > Privacy > Accessibility. So, that rules that possibility out. :/

[2020-01-18 19:10] federico-terzi commented on #159
All right, thank you for your help @jkmgme.
Does quitting espanso solve the issue immediately? I mean, if you are currently using Photoshop and you find your hand tool stuck, does quitting espanso make Photoshop behave normally again?

[2020-01-19 16:41] jkmgme commented on #159
No. I have to restart the computer or log out and log back in, or restart the user system before Photoshop starts working normally again. And espanso doesn’t effect Photoshop right away, it’s after a certain amount of time or some use from espanso that it starts to effect Photoshop.

[2020-01-19 20:30] federico-terzi commented on #159
That is pretty strange indeed! In fact, I don't really know how to tackle this issue, but I'll take a look at it in the next few days and let you know if I find out something :)

Thanks for your help :)

[2020-01-20 10:42] pifiuk commented on #158
Hi,

Thanks for the reply. Yes matches still work and even the ones with numbers still work as long as I use the numbers on the keypad on the right hand side of the keyboard.

[2020-01-20 22:27] federico-terzi commented on #158
That's pretty strange indeed! What keyboard layout are you using?

[2020-01-20 23:28] #141 closed

[2020-01-21 22:43] #149 closed

[2020-01-21 22:51] #145 closed

[2020-01-21 22:52] federico-terzi commented on #149
Added to the documentation @siddbudd, thanks for your help :)

[2020-01-21 22:53] federico-terzi commented on #145
[Added to the documentation](https://espanso.org/docs/matches/#multi-line-expansions) @muhlinux, thanks for your help :)

[2020-01-21 22:54] federico-terzi commented on #155
Added to the documentation! Thanks for your help :)

[2020-01-21 22:54] #155 closed

[2020-01-23 22:09] jrop opened #160 "Under MacOS 10.15.2, Espanso is not deleting the "trigger" text when expanding"
Espanso replaces `:espanso` => `:espansHi there!`, and `:date` => `:dat01/23/2020`.

I am on macOS 10.15.2.

BTW, this looks like an awesome app, and I was pleasantly surprised to see that it is written in Rust!

![espanso-bug](https://user-images.githubusercontent.com/1404053/73028126-1f9d3d80-3df2-11ea-9fb2-b67fc5c27adf.gif)

[2020-01-23 22:56] jrop commented on #160
For anybody else who sees this issue, I had to remove accessibility privileges for [`debounce`](https://github.com/toothbrush/debounce-mac).  I ended up uninstalling `debounce` as I do not need it anymore, anyway.

[2020-01-23 22:56] #160 closed

[2020-01-24 10:02] massimo-cassandro commented on #159
Same problem, the issue affects all adobe CC 2020 apps on OSX Catalina. None of them has accessibility permission

Thanks for help

[2020-01-24 23:42] banan314 opened #161 "Debian/Ubuntu Error, can't connect to X11 context"
After using
[code]
and checking
[code]
I get error message:
[code]
on Linux Mint.

[2020-01-24 23:44] banan314 commented on #151
You mean `cp /etc/X11/xinit/xinitrc ~` ?

[2020-01-24 23:48] banan314 commented on #161
I tried `cp /etc/X11/xinit/xinitrc ~`, trying to do what was posted by @a-baghdadi in https://github.com/federico-terzi/espanso/issues/151#issuecomment-568892334_

[2020-01-25 03:38] a-baghdadi commented on #151
Hi, yes exactly, and then add _exec dwm_ to the end of _.xinitrc_ for my window manager. the main command is : `cp /etc/X11/xinit/xinitrc ~/.xinitrc`

[2020-01-25 09:48] federico-terzi commented on #160
Thank you for your report @jrop, I'm sure it will be useful to someone :)

[2020-01-25 10:00] federico-terzi commented on #159
Hey guys,
Yesterday I ran into the same problem on my machine, running Mojave and Photoshop CS6. This is a clear indication that the issue spans across all versions of MacOS and Photoshop, and not just the latest ones.

That said, I tried searching online for possible solutions or mitigations but I couldn't find one that worked. I suspect that Adobe stuffed some hacks inside Photoshop to achieve s

[2020-01-25 10:11] federico-terzi commented on #161
Hey @banan314,
It seems like espanso is executed before `X11` is ready, though I'm not particularly prepared on `xinitrc`. You could try adding a `sleep` before to give X11 some time to initialize, something like:

[code]

Any reason you are not using the Systemd integration? That should work out of the box on Linux Mint.
Cheers

[2020-01-25 12:56] massimo-cassandro commented on #159
I have been using Typinator on Mojave for a long time, without problems.
https://www.ergonis.com/products/typinator/

[2020-01-25 14:07] federico-terzi commented on #159
Guys I've got wonderful news! I've tracked down the problem and a fix will be rolled out with the next version of espanso (v0.5.0) in the next few days.

If you are curious, espanso uses a particular macOS API to inject text into applications when expanding a match that basically works like this: I send a keyboard event to the application, usually a space, and in the event itself I can bundle a st

[2020-01-25 15:25] banan314 commented on #161
Hi @federico-terzi , unfortunately `sleep 3` didn't work. What do you mean by systemd integration? I simply followed the instructions on your site: https://espanso.org/install/linux/, using `~/.local/bin` as the directory (it's written that it doesn't matter, right?). Why do you say that I don't use systemd integration and how can I check that?

[2020-01-25 15:45] federico-terzi commented on #161
Hey @banan314,
Maybe I didn't explained clearly enough. You wanted to add espanso to `xinitrc` to start it automatically at system start right?
In that case, the official approach to achive that ( in systems which support Systemd, and Linux mint should be one of them ), is by registering espanso to Systemd, and this should happen automatically after running `espanso start` the first time, if you g

[2020-01-25 15:45] a-baghdadi commented on #161
Hi, I am using Archlinux and dwm/bspwm , I do not use desktop, I start window manager in terminal by running startx, but in Linuxmint no need to change in xinitrc, do you use wayland instead of X11?

[2020-01-25 15:57] banan314 commented on #161
No, I use X11

[2020-01-25 16:07] banan314 commented on #161
Hi @federico-terzi
It does start with the system start, it is not the problem.
From `/var/log/syslog`:
[code]
The problem is in the error message. It comes from https://github.com/federico-terzi/espanso/blob/f28874f9b1a2a2bee555112b8b023e08ab25254c/native/liblinuxbridge/bridge.cpp#L87:
[code]
and is raised here https://github.com/federico-terzi/espanso/blob/f28874f9b1a2a2bee555112b8b023e08ab25254c

[2020-01-25 16:41] federico-terzi commented on #161
Hi @banan314,

It may sound strange at first, but this behaviour is intended:
* espanso needs to run when the X11 context is initialized
* We tried several flags for Systemd, but none of them was effective in telling the manager to start espanso only when the X11 display was initialized

Because of these reasons, what the espanso service does is the following:
* Attept to start espanso
* If it fai

[2020-01-25 21:28] banan314 commented on #161
Hi @federico-terzi ,
Yes I'm sure it doesn't work. `:espanso` doesn't do anything, `espanso status` prints `espanso is not running`. At the moment I'm writing this, it has failed 2071 times.

[2020-01-26 13:19] federico-terzi commented on #161
That's pretty strange indeed @banan314. Could you please try running this command in a terminal and post the output here?

[code]

[2020-01-26 18:09] banan314 commented on #161
Hi there.
That's really strange, but when I used the above command, it started working :open_mouth:. I will post the output for future reference:
[code]
Thank you @federico-terzi  for fast and helpful support!

[2020-01-26 18:12] #161 closed

[2020-01-26 20:27] simon-wolf opened #162 "Share Variables Across Replacements"
It would be really handy if variables could be defined to be file-wide or even global between files (maybe via a specifically names variables file).

I have several expansions which contain dates and/or times and having to re-define the variables for each expansion bloats the files.

[2020-01-26 20:46] federico-terzi commented on #162
Hey @simon-wolf,
I definitely see it as a usefult feature, I'll add it to the project roadmap :)
Cheers

[2020-01-27 10:55] federico-terzi commented on #161
Hey @banan314, I'll explain it a bit so it is more clear.
When you launch `espanso start`, what it does is basically invoking `espanso daemon` as a service using Systemd. If you launch `espanso daemon` directly, espanso will work until the terminal is closed.
So in this case, `espanso daemon` is not really a solution, just a way to find where the problem was. In this case, I still suspect that by

[2020-01-30 00:29] jkmgme commented on #159
@federico-terzi Genius!! Thank you!!! Also, a kind-a sort-a related question: How do you properly update espanso after an update like this? I must be blind, but I can't seem to find any information on updating espanso...

[2020-01-30 16:31] reckoner opened #163 "Understand window context?"
Is it possible to have a trigger based on the active window you are typing in? For example, can the window title/executable be used in the logic to control how the trigger's output is generated?

[2020-01-30 16:51] federico-terzi commented on #163
Hey @reckoner,
Yes, it is possible. You can use [Application specific configs](https://espanso.org/docs/configuration/#application-specific-configurations).

Let me know if you have doubts on how to configure them :)

[2020-01-30 16:51] #163 closed

[2020-01-30 16:57] federico-terzi commented on #159
Hey @jkmgme, although I'm not super experienced with Homebrew, it should be pretty easy. You can try with:

[code]

If for some reasons that doesn't work, you could try removing it first:

[code]

By the way, the new version should be released pretty soon :)

[2020-01-30 18:20] johnrichardrinehart opened #164 "[macOS] Packages fail to install"
I have followed the [shruggie package installation instructions](https://hub.espanso.org/packages/shruggie/) after following the [espanso package installation instructions for macOS](https://espanso.org/install/mac) and experienced the following behavior:

[code]
I figured this authentication issue was related to SSH. So, I figured maybe I needed an SSH key loaded (my SSH keys are password-protect

[2020-01-30 18:34] federico-terzi commented on #164
Hey @johnrichardrinehart.

Thank you very much for your report. It seems like the library espanso currently uses to clone packages ( [libgit2](https://github.com/rust-lang/git2-rs)) , does not deal well with encrypted credentials.

I'll look at the problem as soon as I can and get back to you when I find something.

Thanks for your help :)

[2020-01-31 04:35] dan-peterson opened #165 "Not working: how can I troubleshoot?"
I’ve installed espanso using brew on Catalina. Everything seems to be running fine and I’ve enabled the required security settings.

Unfortunately the expansions aren’t being triggered.

Any suggestions on how I can troubleshoot, and specifically what should I expect to see in the log when running `espanso log`?

[2020-01-31 08:43] federico-terzi commented on #165
Hey @dan-peterson,
I'm sorry you are experiencing problems. Firstly, could you please post the output of `espanso log` here?
Secondly, are you sure you didn't accidentaly disabled espanso (try double pressing the Option ALT key)?

Cheers

[2020-01-31 10:00] maximelouet opened #166 "Wrong paste shortcut for urxvt"
Hello,

First of all thank you very much for this wonderful tool!

I'm using `urxvt` and it seems `espanso` cannot correctly paste expansions because the default paste shortcut for `urxvt` is <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>v</kbd>, not <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>v</kbd>. I saw there were some special conditions here: https://github.com/federico-terzi/espanso/blob/master/src/keyboar

[2020-01-31 14:11] freebrowser1 commented on #140
This would be very useful. I have been using aText (https://trankynam.com/atext/) , a similar tool for macOS which does support optionally appending a key after the trigger.

Or an option to swallow the latest character of the trigger, e.g.

` - trigger: "foo\t"
      replace: bar
      swallowlast: true
  `
which swallows the last character (can be another character instead of a tab).

[2020-01-31 14:21] freebrowser1 opened #167 "Diacritics and other nonascii entry as HTML converted to UTF-8"
Well, inputting characters like "áë™§" are a nightmake on many keyboards or OSes.

So, entering e.g. an á can be done by

` - trigger:  :aacute`
`    replace: "&auml;"`
`    htmlentities: yes`

would replace :aacute by á (:aacute is a bit long, but it is just an example).
This prevents nonascii characters in the yaml file.

[2020-01-31 14:29] freebrowser1 opened #168 "macOS install : wrong library"
I installed Espanso on my Mac running Catalina 15.2 and Homebrew and used the install instructions on the site. But when invoking espanso I got this:

`~/homebrew % espanso --version                                     `
`dyld: Library not loaded: /usr/local/opt/openssl@1.1/lib/libssl.1.1.dylib`
`  Referenced from: /Users/me/homebrew/bin/espanso`
`  Reason: image not found`
`zsh: abort      espans

[2020-01-31 14:41] LiHRaM opened #169 "Native Notification on Windows"
Hi,

The current notification looks a little out of place on Windows:
![image](https://user-images.githubusercontent.com/25297553/73547785-eee78480-443f-11ea-9e81-c5bae87fd354.png)

It would be nice to get a toast notification instead, which is possible using [winrt](https://github.com/contextfree/winrt-rust/blob/master/examples/toast_notify.rs), for example.

If this is a lower priority for you,

[2020-01-31 15:30] federico-terzi commented on #169
Hey @LiHRaM,
Thank you for your interest! Yes I totally agree with you, the current notification doesn't look great. In fact, I initially tried implementing the native one myself, but I couldn't find a way to effectively call the Windows 10 API from Rust, so I focused on other issues.

If you have some suggestions, I would be more than happy to include them :)

If you are willing to try implementi

[2020-01-31 16:45] pifiuk commented on #158
I am using the standard British UK layout.

[2020-02-01 10:12] GJKrupa opened #171 "Feature request: Edit default.yml with system editor"
I'd like to request the following feature that goes a step beyond `espanso path`.  Something along the lines of `espanso edit` that opens the default.yml file in the system editor (as defined by $EDITOR/$VISUAL on *nix systems or vi/Notepad as a default) and then automatically reloads the daemon on exit.  Something a bit like `visudo` in effect.

[2020-02-01 11:20] federico-terzi commented on #171
Hey @GJKrupa,

thank you for the suggestion! I was thinking about the same exact thing last week, I'll definitely add it to the roadmap.

Cheers :)

[2020-02-01 11:23] federico-terzi commented on #168
Hey @freebrowser1,
Thanks for your report, I'll definitely take a look at it in the next few days.
The strange thing is that espanso does not assume anything about Homebrew, I just used the default formula. This edge case might need to be handled as well.

Cheers :)

[2020-02-01 11:27] federico-terzi commented on #167
Hey @freebrowser1,
This could be useful indeed. Have you considered trying Unicode escape sequences? I never tried myself, but espanso might support them out of the box. Something like `\u56`.

What do you think?
Cheers

[2020-02-01 12:28] federico-terzi commented on #166
Hey @maximelouet,
Thank you very much for the report! That's strange indeed, I'll definitely take a look at it in the next few days.

Cheers :)

[2020-02-02 16:49] federico-terzi commented on #166
Hey @maximelouet,
I examined the problem and it seems like `urxvt` uses Ctrl+Alt+V as the default shortcut. The funny thing was, when I tested it on a VM a couple of months ago it used the standard Ctrl+Shift+V. Turns out the distro I was using (Manjaro i3) redefined the shortcut for the terminal.

Which distro are you using?

At this point, I'm not sure how to proceed. I could change it to CTRL+A

[2020-02-02 18:31] #110 closed

[2020-02-02 18:31] #153 closed

[2020-02-02 18:31] #135 closed

[2020-02-02 18:31] #148 closed

[2020-02-02 18:31] #159 closed

[2020-02-02 18:31] #162 closed

[2020-02-02 19:01] maximelouet commented on #166
Hi @federico-terzi,
I'm using Arch Linux with i3. It's quite strange that Manjaro would redefine the shortcut for `urxvt`.

According to what I found on the Internet (ArchWiki + manjaro forums), the default shortcut is always <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>v</kbd> for `urxvt`. Maybe Manjaro added the more standard one in addition to this one?

I believe users would not unmap the original <kbd

[2020-02-02 19:04] Scrumplex opened #173 "Release 0.5.0 does not contain a precompiled Linux binary"
For some reason the release for version 0.5.0 does not contain a Linux build. Did the automated build fail?

[2020-02-02 19:10] federico-terzi commented on #173
Hey @Scrumplex,
Yes the CI systems are failing, I'm working on it. I'll keep you updated.

Thanks for your help

[2020-02-02 19:54] JohnFinn opened #174 "Clipboard gets overwritten"
Why clipboard is getting overwritten, is it some kind of workaround? If using of clipboard is absolutely necessary, wouldn't it be better to preserve clipboard content?

[2020-02-02 20:21] federico-terzi commented on #173
It should be good now!

[2020-02-02 20:21] #173 closed

[2020-02-02 20:25] federico-terzi commented on #174
Hey @JohnFinn,
Sorry for the inconvenience, at the moment espanso on linux is more stable when using the clipboard backend instead of directly injecting keystrokes.
To overcome your problem, please add the following line to your `default.yml` file:

[code]

Please note that only `text` based clipboard will be preserved and not images.

In the next release of espanso, it will be enabled by default.

[2020-02-02 20:54] JohnFinn commented on #174
By the way, how direct keystroke injection is done? Before I have found out about espanso, I've written a [project](https://github.com/JohnFinn/str2ev), that does keyboard injection in linux.
Where is the place in the code, which does it? I'd like to play with it and hopefully make it stable.

[2020-02-02 21:02] federico-terzi commented on #174
Currently espanso supports two different input modes (called backends):
* `Clipboard` (the default one)
* `Inject`

You could switch to the Inject one by adding this row in the `default.yml` file:

[code]
Espanso doesn't directly implement the injection mechanism, and instead uses `libxdo`, the one that powers `xdotool`.
The problems with this library is that it is relatively slow for medium texts

[2020-02-02 22:39] federico-terzi commented on #166
Your suggestion sounds absolutely reasonable, I'll make the change in the next release.

Thanks for your help :)

[2020-02-04 15:54] vexillia opened #175 "32 bit version for linux please"
If one already exists how do I install it.  Thanks.

[2020-02-04 15:55] vexillia opened #176 "Linux: Autostart Instuctions"
Do I need to set this up on Xubuntu?  If so how?  Thanks.

[2020-02-04 16:07] vexillia commented on #176
Just rebooted and it seems it's already set up to autostart.  Would appreciate confirmation before closing issue.  Thanks.

[2020-02-04 16:44] federico-terzi commented on #176
Hey,
If your system supports Systemd (and ubuntu generally does), the first time you call "espanso start", you register it as a service and it gets automatically started at system startup. If you want to avoid this behavior, you can call `espanso unregister`.

Cheers

[2020-02-04 16:45] federico-terzi commented on #175
Hey,
Thanks for the suggestion, I'll add it to the project roadmap. In what kind of system would you like to run espanso on?

Cheers

[2020-02-04 16:56] vexillia commented on #175
Lubuntu 18.04

[2020-02-04 16:57] vexillia commented on #176
Thanks.  Much appreciated.

[2020-02-05 11:18] AryToNeX opened #177 "disable certain packages or espanso as a whole when matching specific program"
Hi there! Glad to see Italian people writing actually useful projects! :it:
However, I have a really huge problem when using Telegram Desktop and the emoji-all package from hub. Thing is, Espanso gets triggered alongside Telegram's own 'emoji expander' when I type :heart:. Best case scenario, I only want to send a heart; worst case scenario, Espanso eats the six last chars of my message! I didn't

[2020-02-05 11:47] federico-terzi commented on #177
Hey @AryToNeX,
Thank you for the kind words! You could automatically disable espanso when using Telegram, and it's pretty easy to do with [App-specific configurations](https://espanso.org/docs/configuration/#application-specific-configurations).

Which version of espanso are you using? As the recent v0.5.0 release changed names a bit.
Here's how you can disable espanso when using telegram:
Add a `

[2020-02-05 11:48] federico-terzi commented on #176
You're welcome :)

[2020-02-05 11:48] federico-terzi commented on #175
You're welcome, I'll reopen the issue so I can keep track of it.

Cheers

[2020-02-05 11:55] AryToNeX commented on #177
I copied and pasted that snippet to my app-specific configuration file and it works! However, there are some issues with warnings now...
[code]

Are matches defined twice for every app-specific configuration?

[2020-02-05 12:41] federico-terzi commented on #177
Hey,

Thanks for the feedback, this is definitely a bug. It seems like I didn't consider this edge case when testing the new conflict warning feature, I'll ship a fix in the next release.

For now, just ignore the warnings, they don't do anything else other than complaining :)

App-specific configs inherit all matches from the `default.yml` config by default. However, if you want to define some ma

[2020-02-05 12:47] federico-terzi commented on #177
The conflict check is only used as a suggestion to debug misbehaving matches, it doesn't do anything other than warning the user. Therefore, I don't really see how disabling it on a per-application can bring much value to the user.

This could be a future feature, though I need to think carefully about the best way to implement it.

Thanks for your help :)

[2020-02-07 18:40] jrop opened #178 "Triggers that share common prefix cannot co-exist"
I have two triggers that I want to set up: I want each to expand to a different email:

[code]

However, when I type `:email`, espanso does not wait to see if there is a `2` coming: it eagerly expands `:email` to `a@b.c`.

I propose the following solution:
* Introduce a new "timeout" config value (a decent default may be 500ms)
* Change analysis of triggers in a file to build up a "match" state ma

[2020-02-09 20:15] federico-terzi commented on #178
Hey @jrop,
Thank you for the suggestion, this feature could be useful indeed.
I'll try to make a few experiments and get back to you when I got something!

Thanks for your help :)

[2020-02-10 01:58] matheusfillipe commented on #125
Same issue on ubuntu 18.04 LTS 64 bits, always after waking from suspension Espanso starts using 100% cp in one of the cpu threads. Restarting it solves the problem until I have to wake from suspend again.

[2020-02-10 09:23] federico-terzi commented on #125
Thanks for the feedback @matheusfillipe, I'll try to take a look at it in the next few days.

Cheers :)

[2020-02-12 13:44] pifiuk commented on #158
Hello @federico-terzi I found the problem and the solution to my issue.

Thankfully it has nothing to do with espanso. It is caused by PowerToys - https://github.com/microsoft/PowerToys/issues/410

Sorry for the time wasting but it all seemed linked.

[2020-02-12 22:33] AryToNeX commented on #178
imho since the time-based approach inevitably makes you wait to write the rest of the phrase (and it can be frustrating to some) I would propose
- Key combination approach: pressing a certain key (combination) will make espanso "expand" the longest match it could find right before the key (combination) was pressed. I think of it as a short-term passive mode where espanso would store the phrase sta

[2020-02-12 22:46] federico-terzi commented on #158
Hey @pifiuk,
Thank you very much for clearing this out! It will be surely helpful to future users.

Cheers :)

[2020-02-12 22:46] #158 closed

[2020-02-13 02:13] jrop commented on #178
Waiting for future states only needs to happen, though, if there is a possibility of future input. One can prune out that branch of the state machine if the node you are currently on is a terminal node. This is how vim does its key bindings. Anytime a key binding is used that has no possibility of more future keys, it takes effect immediately.

[2020-02-13 06:26] KingDestructo commented on #138
Running into the same issue as well. MacOS 10.15.2 on espanso version 0.5.0. Using `restart` doesn't seem to get it running again. I'm only able to get espanso running again on a full restart.

[2020-02-13 23:19] WardsParadox commented on #138
Found that running `espanso stop` waiting approx 10 seconds, then running `espanso restart` temporarily fixes it until it happens again.

[2020-02-14 02:32] KingDestructo commented on #138
Gave that a try a few times, doesn't seem to work for me. Even gave it a bit longer at about 30 seconds before restarting to no avail.

[2020-02-14 03:48] KingDestructo commented on #138
For me, logging out and back in works. Faster than restarting, but still not ideal.

[2020-02-14 08:29] DoctorSubtilis opened #180 "espanso doesn't run"
I have installed as system as well, but both as user and as system espanso doesn't work:
this is the terminal output

    `systemctl status espanso
    ● espanso.service - espanso daemon
     Loaded: loaded (/home/duns/.config/systemd/user/espanso.service; enabled; vendor pres
     Active: activating (auto-restart) (Result: exit-code) since Fri 2020-02-14 09:23:59 C
     Process: 13398 ExecStart=/

[2020-02-14 09:37] federico-terzi commented on #180
Hey @DoctorSubtilis,
Thanks for the report, could you please post these details:
* The operating system + distro version you are using
* The output of the `espanso log` command

Cheers :)

[2020-02-14 09:41] federico-terzi commented on #138
Hey guys,
I'm sorry you are experiencing these problems, could you please post the output of `espanso log`  after waking up from sleep?

I'm sorry I couldn't fix this issue yet, but unfortunately I can't reproduce this problem by myself.  The macOS version has been developed on an Hackintosh, which doesn't support Sleep...

Thanks for your help :)

[2020-02-14 09:49] federico-terzi commented on #178
Hey guys,
Both your suggestions are equally valid. I would personally go with the first one proposed by @jrop as it is the most seamless one. That said, I'm a bit worried about the potential delays of that approach. For that reason, I would probabily disable it by default, and allow the users to enable it manually.

Also because personally, rather than having `:email` and `:email2`, I would have s

[2020-02-14 16:59] WardsParadox commented on #138
If I get it to trigger again, I'll get the logs. _knock on wood_ it's been reliable as of late :)

[2020-02-14 18:43] WardsParadox commented on #138
And had to jinx it.
[code]
I was trying to run :date which just outputs the date in an iso format

[2020-02-15 02:35] KingDestructo commented on #138
I've got my log here as well.

`00:34:06 [ INFO] espanso version 0.5.0
00:34:06 [ INFO] using config path: /Users/tgibson/Library/Preferences/espanso
00:34:06 [ INFO] using package path: /Users/tgibson/Library/Application Support/espanso/packages
00:34:06 [ INFO] starting daemon...
00:34:06 [ INFO] Status icon already initialized, skipping.
00:34:07 [ INFO] Initializing EspansoNotifyHelper in /Use

[2020-02-16 14:34] sirodoht opened #181 "espanso auto disables"
Hi,

It seems randomly espanso disables it self. I just get a notification that says espanso is disabled. I can go to the tray icon and re-enable, but I'm wondering if this is a setting. Found nothing in the documentation though.

Running v0.5.0 in macOS 10.15.3 (19D76)

[2020-02-16 14:38] sirodoht commented on #181
Just looked at the logs and I found the issue:
[code]

[2020-02-16 14:38] #181 closed

[2020-02-16 14:39] federico-terzi commented on #181
No problem! :)
If you find yourself toggling espanso by accident too many times, you can also disable this shortcut or change the key with the `toggle_key` option.

Cheers

[2020-02-16 14:48] federico-terzi opened #182 "Add a SECURITY.md file to the repo"
A few users suggested me to add a documentation page about security, describing the espanso security model, as well as an official way to report me security disclosures.
I'll do my best to add the file in one of the next releases.

[2020-02-16 15:16] sleerash opened #183 "Espanso doesn't run on Windows 10 (Antivirus issue?)"
Hi,

First things first: I love Espanso. I use it for about a month. Two days ago, I changed my antivirus software from Kaspersky to Bitdefender, and... to my dissapointment, Espanso does not run.
It installs without problems, but when I run it it simply doesn't start.
The strange thing is that I do tried to uninstall Bidefender and reinstall Espanso, but then Espanso didn't run either.
 What can

[2020-02-16 15:26] federico-terzi commented on #183
Hey @sleerash,
Thanks for the kind words! Yep, that's probabily Bitdefender trying to stop espanso from working. I'm not experienced with that Antivirus, but you could try adding espanso to the list of exceptions: https://www.bitdefender.com/consumer/support/answer/13427/

Notice that espanso is located in `C:\Users\Freddy\AppData\Local\Programs\espanso\espanso.exe`
(remember to replace Freddy wit

[2020-02-16 21:18] sleerash commented on #183
Hey, Federico,
Thanks for your kind and fast reply, but... alas, it is not working. I don't even think that Bitdefender it's blocking Espanso, but something is definitively doing it, and I have no idea what it is.
:(
Thanks anyway.

[2020-02-16 22:42] sleerash commented on #183
Hi again...
Don't ask me how, but I managed to run the program. I created a ".espanso" directory, and run the espanso.exe in the original folder.
I just don't know how it worked, but it did.

I copy the log, by the way:

22:37:55 [ INFO] espanso version 0.5.0
22:37:55 [ INFO] using config path: C:\Users\jose_\AppData\Local\Programs\espanso\.espanso
22:37:55 [ INFO] using package path: C:\Users\jos

[2020-02-17 07:32] sleerash commented on #183
And finally, although Espanso appears as active, substitutions do not work :(. Sorry for the trouble, btw.

[2020-02-21 07:54] KingDestructo commented on #138
I think I may have figured out the issue or possibly what's going wrong here. On Mac OS, there is a feature called "Secure Input" which captures keyboard input, usually when applications need to have passwords or secure information entered, which may be preventing espanso from capturing keyboard input. I use Amazon Workspaces frequently at work and as such, it being a remote pc program it needs to

[2020-02-21 19:33] federico-terzi commented on #138
Hey guys,
Thank you for your help, your logs look totally fine.
@KingDestructo thanks for the tip. I'll check out the link and let you know if I find something!

Cheers :)

[2020-02-22 14:14] owzim opened #184 "user/*.yml loaded, parsed but not applied"
Hi,

outstanding software. One can feel the passion, dedication and attention to detail in the way espanso works, is presented on its website and so on ... Thank you!

I want to categorize my expansions in multiple files. For example I created a `user/mail.yml` with the same structure as the `default.yml`, but the containing replacements do not work.

I can verify the the file is loaded by deliber

[2020-02-22 20:12] federico-terzi commented on #184
Hey @owzim,

Thank you for the kind words! I totally understand your point, as I split my matches on multiple files as well to organize them better.

The first step is to create your additional config files in the `user/*` directory as you did. The important thing to keep in mind is to add the `parent: default` parameter, which tells espanso to merge the current matches in the `default.yml` ones.

[2020-02-24 13:57] owzim commented on #184
Thanks! That works like a charm. Is this mentioned in the docs somewhere? Can't find it. Additionally, why is the `parent: default' declaration necessary? Does not seems intuitive to me. Since it does not depend on or inherits from the `default.yml` at all. It's separate.

[2020-02-24 19:51] federico-terzi commented on #184
Hey @owzim,
Now that you've pointed it out, I realized I never wrote anything about it in the docs!
I'll try to add a few instructions as soon as I have some time.

I understand that without any explanation it could look strange. In a nutshell, espanso merges all children matches into their parent at startup, and declaring `parent: default` indicates that the following matches should be merged int

[2020-02-24 20:22] finnito opened #185 "Multiline Strings Missing Lines"
Hi!

This tool is amazing, thank you for all your work Federico!

I am having issues with multi-line strings. Espanso expands my trigger but doesn't give me the full replacement. Here is some info:

MacOS Catalina 10.15.2

[code]

My replacement:

[code]

But when I do my trigger I get the following:

[code]

I have tried using a normal double quoted string with `\n`s instead of the scalar as sugg

[2020-02-24 21:25] bachya commented on #138
I'm experiencing this, as well. Let me know what I can do to help debug! 👍

[2020-02-25 09:00] federico-terzi commented on #185
Hey @finnito,
This is definitely a bug, thanks for reporting it!
A couple of questions:
* Does it happen on every application?
* Could you please try this match without any newline `\n` and see if that expands correctly?

Thanks for your help :)

[2020-02-25 12:50] federico-terzi opened #186 "Espanso crashes when a variable is not defined"
Since version 0.5.0, using a not-defined variable crashes espanso instead of warning the user of the problem.

[2020-02-25 18:01] federico-terzi commented on #138
Hey guys,
As I can't reproduce the issue on my machine, could any of you post the output of the following command after waking up from sleep and finding espanso as not working?

[code]

Cheers :)

[2020-02-25 19:12] federico-terzi opened #187 "Add a way to escape variables in matches"
Imagine you want to expand a match to `Hi {{dummy}}` without triggering the variable system (including the brakets and the text inside).

Currently, there is no way to achieve that in espanso in a clean way.

[2020-02-25 20:22] finnito commented on #185
Hi Federico, thanks for your response!

I have changed the trigger to look like this:
[code]

And get this output:
[code]

__However, I think I have solved it:__ I use a tool called [Unshaky](https://unshaky.nestederror.com/) which removes double key presses that are prevalent in the new butterfly keyboard on the Macbook Pros. I believe that injection gets caught by Unshaky and therefore doesn't p

[2020-02-25 20:34] federico-terzi commented on #185
Hey @finnito,

I think that's it! :) Because I also heard some complaints about other debouncing tools for macOS which interacted negatively with espanso.
Using the `Clipboard` backend should partially solve the problem. You may also want to enable:

[code]

in your `default.yml` file for a better experience.

Cheers :)

[2020-02-25 20:47] toddatctera commented on #92
In case @cambid or anyone else searching Issues for how to set the cursor position like I did, it's in the docs:
https://espanso.org/docs/matches/#cursor-hints

[2020-02-25 23:25] finnito commented on #185
That'll be it - I'll enable `preserve_clipboard` and we can close this :)

Thanks for your friendly and great help @federico-terzi!

[2020-02-25 23:25] #185 closed

[2020-02-26 03:03] dan-peterson commented on #165
No problem! I was hoping to recreate the problem, but I haven't had issues since. Perhaps it was as simple as an accidental disable, but I'm pretty sure I did check that. :)

Anyways, case closed for now. If it comes up again I'll post the logs.

Great project btw.

[2020-02-26 03:03] #165 closed

[2020-02-26 07:11] Philipp0205 opened #188 "Multline expansions are not workong"
First: Thank you for this great tool!

I use Ubuntu 19.10 and multiline expansions are not working atm. This is the section in the default.yml:

[code]

Output:
[code]

[2020-02-26 08:29] federico-terzi commented on #185
You're welcome :) Let me know if you have other issues.

Cheers

[2020-02-26 08:30] federico-terzi commented on #165
Great to hear that! Let me know if you have other problems.

Cheers :)

[2020-02-26 08:37] federico-terzi commented on #188
Hey @Philipp0205,
Thanks for the kind words! Unfortunately, I couldn't reproduce your issue as it is working correctly for me on Ubuntu 18.04.

Does it happen on every application or just a few ones?

Cheers

[2020-02-26 09:24] sbstn87 opened #189 "Remove VC++ Redistributable dependency"
Hi, is it possible to remove the VC++ depenency or bundle it with the app? Having it makes it impossible to use the app when user does not have admin privileges.

[2020-02-26 11:00] federico-terzi commented on #189
Hey @sbstn87,
Thanks for the suggestion. I'll try to find a way to remove that dependency, as it can be pretty inconvenient sometimes.

Cheers :)

[2020-02-27 09:39] trolologuy opened #190 "install manually on macOS"
The official espanso [installation documentation for macOS](https://espanso.org/install/mac/) lacks clarity regarding a manual installation: "_but you can also do it manually_."
Sorry if i'm probably missing the obvious... but looking at the source code i couldn't figure out where to start.

Installing through Homebrew is **not** an option in my case.

Any clarification would be greatly appreciate

[2020-02-27 09:52] federico-terzi commented on #190
Hey @trolologuy,
You're totally right, the documentation is not very clear about that!

The first step is to download the "espanso-mac.tar.gz" archive from the [Releases](https://github.com/federico-terzi/espanso/releases) page.

Then you can extract it and place the binary "espanso" in your chosen folder, For example `/usr/local/bin` (which has the advantage of automatically add espanso to the PA

[2020-02-27 15:35] trolologuy commented on #190
Hey @federico-terzi,
Thanks a lot for the really fast response !

I ran into some issues trying to manually compile OpenSSL, it seems that **maybe** espanso is looking for libssl on a specific path?
After successfully compiling OpenSSL here's what i get when trying to start espanso:
`dyld: Library not loaded: /usr/local/opt/openssl@1.1/lib/libssl.1.1.dylib`
The openssl version installed:
`openssl

[2020-02-27 17:00] trolologuy commented on #190
Okey i found a workaround.
Here's what i did. I tried to override the library with dyld.
`man dyld` gave:

So i tried to export the library to force the usage of the locally compiled openssl version using:
`export DYLD_LIBRARY_PATH=$PATH_TO_FOLDER/lib`

But due to a security in macOS is wasn't working, more information can be found [here](https://gitlab.haskell.org/ghc/ghc/issues/11617)

So i crea

[2020-02-27 19:14] federico-terzi commented on #190
Hey @trolologuy,
Thanks for your detailed explanation! I'm not particularly practical of macOS libraries, could the error be solved creating a link to the correct directory?

For example, on my machine espanso loads the shared libraries in these paths:
![image](https://user-images.githubusercontent.com/20475953/75477982-6952e800-599d-11ea-92f9-9df11f10a675.png)

What about creating a link from you

[2020-02-27 21:18] federico-terzi commented on #164
Hey @johnrichardrinehart,
Unfortunately, I tried to reproduce your issue many times without success, it always works fine on my machine, even with encrypted ssh credentials.
Could it be that perhaps you encountered a temporary error not due to espanso?

Cheers :)

[2020-02-27 21:19] federico-terzi opened #191 "Create snap package"

[2020-02-28 07:34] johnrichardrinehart commented on #164
Let me check in ~12 hours.

[2020-02-28 11:30] sleerash commented on #183
Hi, @federico-terzi,

Thank you I really appreciate your effort!

[2020-02-28 20:38] #147 closed

[2020-02-28 20:38] federico-terzi commented on #147
Hey,
I'm closing this issue as it is related to #127.
Cheers

[2020-02-28 20:39] #143 closed

[2020-02-28 20:40] federico-terzi commented on #29
I'm closing this issue as it seems that the current procedure is working fine

[2020-02-28 20:40] #29 closed

[2020-02-28 20:41] federico-terzi commented on #62
Hey,
I'm closing this issue as this feature has been shipped in version 0.5.0.
Cheers :)

[2020-02-28 20:41] #62 closed

[2020-02-29 00:06] bachya commented on #138
Apologies for the radio silence, but after all sorts of actions (sleep/wake, rebooting, etc.), Espanso keeps working and hasn't exhibited this since... Will keep an eye out and post back if I see something.

[2020-02-29 04:46] johnrichardrinehart commented on #164
@federico-terzi Please leave this open for a bit (if it's been more than a week since I can return to this then feel free to close it). I'm in the middle of a big sprint at work.

[2020-02-29 09:18] federico-terzi commented on #164
No problem @johnrichardrinehart, take all the time you need :)

[2020-02-29 09:20] federico-terzi commented on #138
No problem @bachya, let me know if you find something :)

[2020-02-29 11:30] KingDestructo commented on #138
@federico-terzi I haven't been able to reproduce the issue either since initial posting. I am still noticing that espanso stops working as soon as I run another application that uses SecureInput, which is still to be expected because the application is capturing keyboard input before espanso can.
However, I've run the application that is giving me issues and used the commands to get the output. I'

[2020-03-01 20:32] federico-terzi commented on #138
Hey @KingDestructo,
Thank you for the update, it seems like the "WorkSpaces" app is requesting SecureInput, which in turn disables espanso.

As far as I know, it's not like the first app that receives the event blocks the others from receiving them. It is the fact that WorkSpaces request SecureInput that blocks espanso, which is expected as usually applications request "SecureInput" when there is

[2020-03-01 23:06] federico-terzi opened #192 "Add ClipboardExtension to insert clipboard content into matches"
A user requested the feature on Reddit, with the following use case:

[2020-03-02 13:05] trolologuy commented on #190
Hello Federico,
Apologies for the delay :) Sadly i'm not root on the machine, i already tried to manually link the shared libraries (it was indeed one the first things i tried, should have been more precise about it, sorry for that). But yeah i guess it would be a working workaround for anyone with root rights (even though i doubt they would run it the same issues in the first place).

Since i hav

[2020-03-03 19:44] johnmbaughman commented on #192
Glad this has been started! This is one of the only things I could think of that was missing...

I started with TextExpander, moved to Breevy, tried the very limited and expensive PhraseExpress, found espanso and I think I'm in love... Thank you for this! Getting used to the syntax of the yml file is a small learning curve, but this will be a great tool!

[2020-03-03 22:47] federico-terzi commented on #192
Hey @johnmbaughman,
Thank you for the kind words! I'm glad you liked the new feature, it should ship in the next version of espanso which I plan to release very soon :)

Yaml based configuration has many advantages, but honestly I find it a bit cumbersome too sometimes. I'm still looking for the best way to implement it, but I'm planning to add an (optional) GUI to customize them.

Stay tuned :)

[2020-03-03 23:01] federico-terzi commented on #190
Hey @trolologuy,

Thank you for the kind words :)

Unfortunately, without enabling espanso in the Accessibility settings (which requires admin rights), the OS will block it from working correctly. I'm sorry I didn't realized it earlier.

Stay tuned, maybe we'll find a solution one day :)

[2020-03-04 19:25] #186 closed

[2020-03-04 19:25] #166 closed

[2020-03-04 19:25] #171 closed

[2020-03-04 19:25] #189 closed

[2020-03-04 19:25] #144 closed

[2020-03-04 19:25] #152 closed

[2020-03-04 19:25] #192 closed

[2020-03-04 19:45] federico-terzi commented on #118
Hey,
I'm closing this issue as the feature has been implemented in version 0.5.0 of espanso.

Cheers :)

[2020-03-04 19:45] #118 closed

[2020-03-04 22:57] federico-terzi commented on #191
Snap package is now live!
[https://snapcraft.io/espanso](https://snapcraft.io/espanso)

[2020-03-04 22:57] #191 closed

[2020-03-06 10:28] owzim commented on #174
This does not work for me, then all expansion result in empty strings, I also restarted respanso

Any suggestions?

[2020-03-06 10:30] owzim commented on #176
@federico-terzi this should be in the docs

[2020-03-06 10:46] owzim opened #195 "Slow on linux but instant on mac"
## Specs

* **OS:** Pop!_OS 19.10
* *on macOS this works as expected*

It seems like it takes about half a second before an expansion is executed. On the one hand this feels sluggish on the other hand it results in borked sentences when using misspelling expansions.

I for example use an expansion to correct my perpetual misspelling of `const`

[code]
Depending on the speed I am typing:

`cosnt fo

[2020-03-06 10:49] federico-terzi commented on #174
Hey @owzim,

I'm sorry you experienced these issues, let me ask you a few questions so that I can help you:

* Could you please give me a bit more details about your setup (OS and version of espanso)?
* Which install method did you choose?
* Could you please post the output of `espanso log` here?
* Does all expansions result in empty strings only with `preserve_clipboard: true` or also when it is

[2020-03-06 10:50] federico-terzi commented on #176
Hey @owzim,
Do you mean the fact that it automatically setup Systemd to get started at startup?
Cheers

[2020-03-06 10:56] federico-terzi commented on #195
Hey @owzim,

You're definitely a fast typer! :)
Jokes aside, espanso is much snappier on Windows and macOS due to the fact that those OS allow an efficient text injection, whereas (up to know) I wasn't able to get reliable results on Linux. Therefore, on Linux it uses the Clipboard backend by default, which is a bit slower.

That said, I'll look into ways to improve the performances on Linux and g

[2020-03-06 20:55] #190 closed

[2020-03-06 23:29] AdamSPi opened #196 "Matches don't work in password fields"
Typing an abbreviation into a password field does not trigger the match, however it works fine in any normal field. I'm not sure if this is by design or not, but I was wondering if there's any way to get around this in the configuration files.

I've tested this in Chrome, Mozilla, and Safari on OSX and they all behave the same way. The same happens on Windows 10.

[2020-03-07 09:31] federico-terzi commented on #196
Hey @AdamSPi,
Most operating systems enforce some kind of restriction when typing on password fields (SecureInput on macOS) and unfortunately, there is nothing we can do about it.

Cheers :)

[2020-03-07 09:31] #196 closed

[2020-03-07 20:19] owzim commented on #176
Yes. To minimize guess work.

[2020-03-08 20:37] federico-terzi commented on #176
All right! I will :)

[2020-03-08 20:40] federico-terzi commented on #195
Hey @owzim,
I just finished a set of general improvements for the Linux backend that should improve the responsiveness a lot. I plan to publish the release (0.5.2) in a few days, I'll let you know when it's ready so you can try it out :)

Cheers

[2020-03-08 20:45] federico-terzi commented on #127
Hey guys!
I know it's been a long time since we last talked about this issue, but I'm happy to say that the upcoming version (0.5.2) should fix most of these problems!

Thank you for your help :)

[2020-03-08 20:47] federico-terzi commented on #93
I'm closing the issue, as I don't plan to support Windows 8 in the future

[2020-03-08 20:47] #93 closed

[2020-03-09 15:15] Philipp0205 commented on #188
Sorry for my late reply.
I can't reproduce the error anymore. For some reason it is resolved.

Maybe a restart did it 🙃

Thanks again!

[2020-03-09 15:15] #188 closed

[2020-03-09 22:48] maxandersen opened #197 "done all the steps and espanso is running but no expansion"
macOS Catalina
version 10.15.3
installed via brew tap federico-terzi/espanso
enabled in accessibiilty.

textexpand and typinator works - but not espansa also tried running without anything else running. no expansion.

[2020-03-10 09:13] federico-terzi commented on #197
Hey @maxandersen,
I'm sorry you experienced these issues! Could you please post the output of the `espanso log` command here?

Could you also please try to double tap the Option key (ALT) and see if that enables espanso?

Cheers :)

[2020-03-10 09:32] federico-terzi commented on #184
Hey,
I'm closing the issue as I added a [section](https://espanso.org/docs/configuration/#organizing-matches) to the docs.
Cheers :)

[2020-03-10 09:32] #184 closed

[2020-03-10 18:25] #117 closed

[2020-03-10 18:46] federico-terzi commented on #117
Hey @lkrms,

Sorry for the long wait, this feature is finally here!
If you want to try it out, update to version 0.5.2 of espanso.

Thanks for your help :)

[2020-03-10 18:51] federico-terzi commented on #195
Hey @owzim,
Espanso 0.5.2 has been released, please set the `Auto` backend (you can find the info in the releases page) and let me know if that helps :)

Cheers

[2020-03-10 18:52] federico-terzi commented on #127
espanso 0.5.2 is out! I'm closing the issue, let me know if you have other problems :)

[2020-03-10 18:52] #127 closed

[2020-03-10 18:54] federico-terzi opened #199 "Updating from snap breaks current Systemd service"
I just realized that when updating espanso through snap, it changes the location of the binary, therefore breaking the current Systemd service file.

If you are experiencing this problem, the fix is pretty easy, just execute the following commands:

[code]

then espanso should work correctly.

In the next version of espanso I'll make sure this steps are detected and executed automatically after an

[2020-03-10 19:44] #176 closed

[2020-03-10 19:49] federico-terzi commented on #174
Hey guys,
I'm closing the issue as version 0.5.2 shipped with the `Auto` backend (more information on the Releases page) that should partially solve the problem.

Cheers

[2020-03-10 19:49] #174 closed

[2020-03-11 02:37] tabby-jun opened #200 "[Windows] Animated GIFs for Image Match expands to non-animated PNGs"
## System Info

Windows Version 10.0.18362 Build 18362
espanso 0.5.2

## Description

Just as the title describes, when an image match for an animated GIF is configured, espanso expands to a non-animated PNG image instead.

[2020-03-11 03:01] lkrms commented on #117
That's fantastic! Thanks for working so actively on this project :)

[2020-03-11 08:53] federico-terzi commented on #200
Hey @tabby-jun ,

Unfortunately, I noticed the same problem a while ago. I still haven't found a way to effectively solve it though, as most programs receive only the CF_BITMAP format, which is not animated...
Source: https://stackoverflow.com/questions/14934327/how-to-get-animated-gif-image-from-browser-clipboard-api

That said, I'll try to find a way to improve the situation and I'll let you kno

[2020-03-11 08:54] federico-terzi commented on #117
You're welcome :)

[2020-03-11 14:11] 0x3333 opened #201 "Shell Extension adding new line at the end"
I'm trying to create a `:ip` expansion, but it keeps adding a new line at the end. I'm on a Mac.

[code]

The `ipconfig` command gives me a new line at the end, so it is expected, but if I remove it, I don't get the output, like:

[code]

`ipconfig getifaddr en0 | head -c -1` running in a terminal gives me:

[code]
Without a new line at the end...

[code]

[2020-03-11 14:14] 0x3333 commented on #201
I made it work using:

[code]

But it is odd why the `head` command didn't work.

[2020-03-11 14:35] federico-terzi commented on #201
Hey @0x3333 ,

To trim the output of a shell script you can use the `trim` option:

[code]

I've just realized I didn't mention it anywhere in the docs! I'll definitely add it as soon as I work on it.

Let me know if you have other doubts :)

Cheers

[2020-03-11 14:37] unn commented on #164
Ran into this myself. Following along.

[2020-03-11 18:16] 0x3333 commented on #201
You just nailed it! Thanks!

[2020-03-11 18:44] johnrichardrinehart commented on #164
@unn @federico-terzi I'm awful at making time for this. I'll do some tests within the next 30 hours.

[2020-03-11 22:28] federico-terzi commented on #201
You're welcome :)

[2020-03-11 22:31] federico-terzi commented on #164
I'm sorry you both experienced issues guys. If we can't come up with a solution, I'll implement an alternative channel to install packages that doesn't depend on git, so that you can still install the packages.

Cheers :)

[2020-03-12 09:59] unn commented on #164
No stress about timing from me, but thanks for being so on top of it.

[2020-03-12 10:02] owzim opened #202 "espanso not workin when kinto is running"
I know it is maybe not an issue on your side, but [kinto](https://github.com/rbreaves/kinto) prevents [espanso](https://github.com/federico-terzi/espanso) from expanding text, so I am creating an issue in both repos. If kinto is not running espanso works like expected.

I don't know on which side the issue can be fixed and I really don't expect either of you to fix it, but perhaps one of you can l

[2020-03-12 10:27] owzim commented on #195
The speed in crease is definitely noticeable, especially in KDE apps like Telegram. Thanks!

[2020-03-12 10:27] #195 closed

[2020-03-12 16:11] federico-terzi commented on #202
Hey @owzim,

Does espanso completely stop working when kinto is activated?
Does the toggle shortcut work?
Could you please post the output of `espanso log` when kinto is running?

Cheers :)

[2020-03-12 17:12] rbreaves commented on #202
@federico-terzi

I'm the author of Kinto and you're app looks to be pretty impressive, so I've installed it on one of my VMs. I am not sure what it is that Kinto would be doing that causes espanso to fail, it applies custom keymaps though via xkbcomp.

[code]

An example of a custom keymap file that is applied for gui apps.
[code]
~/.xkb/keymap/kbd.mac.gui
[code]

[2020-03-12 17:56] rbreaves commented on #202
@owzim @federico-terzi

I think I figured it out, just needed to restart the espanso service after the kinto keyswap service. That appears to work for me, I guess the default setxkbmap mapping is sufficiently different from the custom one that espanso has difficulty working with it. My guess is that espanso does not monitor or watch for any xkb keymap changes - and in most cases why would it, keym

[2020-03-12 19:25] federico-terzi commented on #202
Hey @rbreaves ,
Thanks a lot for your help!

I definitely think it could be it, though under the hood espanso uses `libxdo` to inject text, so it could be a problem related to the library.

I'm not super experienced with layouts remapping on Linux. The only thing espanso does is refreshing the keyboard mapping when it detects a `MappingNotify` event:

[code]

I'm not sure though if that accounts f

[2020-03-12 19:51] rbreaves commented on #202
Hmmm it would make sense to assume that applying a keymap via xkbcomp would trigger the MappingNotify event, but I honestly don't know. Kinto uses the xlib library in C and I had a heck of a time debugging it so that resizing or moving a Window wouldn't attempt to trigger a keymap change lol. My code would throw it out regardless, but I had to add write a function just to prevent the XNextEvent fr

[2020-03-14 15:39] owzim commented on #202
@rbreaves @federico-terzi thanks a lot you guys for looking into it. For the time being the @rbreaves' suggestion to restart both services with kinto first, works for me.

@federico-terzi
The expansion is triggered but empty

[2020-03-15 23:11] mkaz opened #203 "Add to Windows installation "Problems you may experience" documentation"
I ran into an error installing Espanso that vcruntime140_1.dll was not found.

To fix the issue, install the latest Visual C++ runtime  `vc_redist.x64.exe` from Microsoft:
https://support.microsoft.com/en-gb/help/2977003/the-latest-supported-visual-c-downloads

Reboot and Espanso worked fine. 👍

[2020-03-15 23:17] shaund opened #204 "Replace quotes"
With this in my default.yml file

[code]
I get this as output`.' A`

If I use `".' a"` I get `. "A`

Also in anything with auto brackets, I get `.' A'`, I guess because it's typing rather than pasting?

[2020-03-15 23:42] shaund commented on #204
You can disregard the first part, it was interference from autohotkey. I switched to clipboard mode and everything works (though losing copied images is a minor annoyance).

[2020-03-15 23:42] #204 closed

[2020-03-16 00:30] shaund opened #205 "Newlines in trigger"
Using
[code]
Causes `\n"a` -> `\n"A`
Instead of the actual newline. I'm trying to have it auto-capitalize the word after a quote when it's the first word on the line, like,

[code]

But I can't just use `"a` because that would match situations like `"What they’re saying," she pressed on, "is that last night Voldemort turned up in Godric’s Hollow."`

In general I'm trying to get it to capitalize af

[2020-03-16 17:52] federico-terzi commented on #203
Hey @mkaz,
Thank you very much for your feedback! Honestly, I'm a bit shocked about this issue as it is surely the result of the last update, which removed the `vc_redist.x64.exe` automatic installation in favor of a "local deployment" of the DLLs (basically it copied the required DLLs in the espanso folder).

Searching through the logs of the CI pipeline, I found the root of the problem. Turns ou

[2020-03-16 18:02] federico-terzi commented on #204
Hey @shaund ,

Thanks for the feedback, in which ways did AutoHotKey interfere with espanso?

Cheers :)

[2020-03-16 18:04] federico-terzi commented on #205
Hey @shaund ,

I'm not really sure if it could fit your needs, but have you taken a look at [Word triggers](https://espanso.org/docs/matches/#word-triggers) combined with [Case propagation](https://espanso.org/docs/matches/#case-propagation)?

Let me know if that solves your problem

Cheers :)

[2020-03-16 18:16] federico-terzi commented on #202
Hey @rbreaves,
Sorry for the late reply, I've gone through some busy days!

Thank you very much your help, it's a great starting point and I'll definitely look into it as soon as I can!

@owzim it definitely seems like espanso is struggling with the new keymap. That said, at least the "deletion" of the trigger happens and this is good news.

Cheers :)

[2020-03-16 19:47] rbreaves commented on #202
No problem @federico-terzi and for now I have suggested that @owzim just adds a startup delay to the espanso service file as I think something like this would be sufficient in delaying it beyond the first custom keymap that Kinto will apply.

[code]

[2020-03-17 11:18] shaund commented on #205
I'm not sure I understand. Can you give an example? Because
[code]
seems to only match `"a` on its own, not words beginning with `a`. And `propgate_case` doesn't appear to be doing anything.

The behavior I'd like is for this
[code]
to be converted automatically into this
[code]

[2020-03-17 11:30] federico-terzi commented on #205
Hey @shaund,

All right, I didn't understand your goal :) This is indeed problematic, as `\n` should work correctly and this is most probably a bug.
Which operating system are you using?

Cheers :)

[2020-03-17 11:37] shaund commented on #205
Windows 10

[2020-03-17 11:40] federico-terzi commented on #205
All right, thank you. I'll look into it as soon as possible and I'll get back to you once I know something :)

[2020-03-17 20:19] #199 closed

[2020-03-17 20:55] federico-terzi commented on #164
Hey guys,

I'm currently pushing version 0.5.3 out with an alternative package provider which should work in your case. You can now download a package with the `--no-git` option:

[code]

Let me know if it works for you.

Cheers :)

[2020-03-18 11:49] unn commented on #164
Works as expected!

[2020-03-19 17:49] oceanByte opened #207 "passive mode integration with shell results in an empty string"
OS: macOS Catalina 10.15 (19A602)
app: espanso 0.5.3

I can use passive mode with the given `:greet` example in the [documentation](https://espanso.org/docs/passive-mode/#arguments), but the `:rev` example results in an empty string.
1) Does somebody else experience this problem (on mac os)? I have disabled all other tools that use my keyboard.

[code]

And if I forget to finish the string with a

[2020-03-19 19:50] federico-terzi commented on #207
Hey @oceanByte,

That's pretty strange indeed, could you please post the output of `espanso log` here?

I'll make a few tests with the example you proposed and get back to you once I know something :)

That's right.

Please bare in mind that, as of now, *passive mode* is still experimental, so expect some rough edges around it :) That said, let me know if you experience other errors, as good feedb

[2020-03-19 19:52] federico-terzi commented on #164
Great! :) I'll keep the issue open as it shouldn't happen with the default provider and someone may come up with a solution in the future. At least now we have a backup plan.

Cheers :)

[2020-03-19 20:09] oceanByte commented on #207
Thanks for the quick reply @federico-terzi Lovely tool!

Everything seem to work so far, it's just the bash shell integration with passive mode that causes these problems (and I haven't tested other scripts with passive mode yet).

I am not sure if the `espanso log` is too helpful but here it is:

[code]

[2020-03-19 20:40] johnrichardrinehart commented on #164
@federico-terzi I forgot to post the results of my tests. I created a password-less RSA key, but `0.5.2` still failed to install packages with the same error code and message.

I've installed 0.5.3 and can confirm that `--no-git` works. Failure to use `--no-git` fails, though, still with the same error code and message
[code]

[2020-03-19 20:48] johnrichardrinehart opened #208 "Accessibility Duplicates"
Each version/installation of `espanso` triggers a request to allow `espanso` Accessibility permissions in MacOS. However, these permissions aren't removed upon installation of a new version. So, now I have a few `espanso` permissions entries in the Accessibility menu of my system preferences.

Is it possible to clean up the entries?

<img width="669" alt="Screen Shot 2020-03-19 at 1 37 44 PM" src=

[2020-03-20 09:37] federico-terzi commented on #208
Hey @johnrichardrinehart,

Thanks a lot for the feedback, that is definitely an inconvenience. At first sight, I would say this is due Homebrew, because what it does is installing espanso in a different directory each time (standard Homebrew behaviour) and then creating a symbolic link to the binary.
It seems like macOS rather than considering the link position (which is always the same), consider

[2020-03-20 09:39] federico-terzi commented on #164
Hey  @johnrichardrinehart ,

Thank you for experimenting this further, at this point I can say quite confidently that password-protected RSA keys are not the cause of the issue (as it should be).

Cheers :)

[2020-03-20 09:43] federico-terzi commented on #207
@oceanByte Indeed, you log looks perfect! :)

I have a doubt, does running `echo hello | rev` on a macOS terminal produce the expected result? because now that I think about it, I only tested that particular passive command on Linux and not on macOS.

Cheers :)

[2020-03-20 13:22] maxandersen opened #209 "Chance "Disable" to "Disble Espanso""
I only touch espanso rarely but I honestly keep forgetting what the name is of the tool that has a "e" in my menubar so a few   times I had to google search my way to remember it is espanso :)

thus I suggest to change the menu entry to say "Disable Espanso" so it gives a little hint.

[2020-03-20 16:50] johnrichardrinehart commented on #164
@federico-terzi That seems true. Thanks for issuing this new flag.

Do you know the cause of the problem?

[2020-03-20 16:57] johnrichardrinehart commented on #208
@federico-terzi

You're right, thanks. I understand the problem and the fix. Using the `-` button you can delete a selected entry, as indicated in the screenshot below.

I didn't know that I could remove options using this interface. This is acceptable for me. No problem.

Thanks again.

![image](https://user-images.githubusercontent.com/6321578/77187004-0c74ba00-6a91-11ea-851c-d69e84f5f727.png)

[2020-03-20 16:57] #208 closed

[2020-03-20 20:21] #203 closed

[2020-03-20 20:25] #201 closed

[2020-03-21 10:15] oceanByte commented on #207
Valid question since sometimes MacOS uses custom implementations (e.g. `sed` on macOS does not behave like **GNU** `sed`). `echo hello | rev` works as expected though.
I also have the same problem with other bash/shell commands and espanso's passive mode. It also fails for other scripts (tested with node/python): It always results in an empty string. I haven't used any arguments this time and trie

[2020-03-23 14:41] markogley opened #210 "Incompatible with OS X 10.13.6 Xcode 10.1"
Is there a way to make this compatible with OS X 10.13.6 or can someone tell me how to install a version that would work on this version of OS X?

[2020-03-23 18:30] federico-terzi commented on #209
Hey @maxandersen,

I apologize for the late reply. That's surely a fair point! I'll make sure that in the next versions of espanso there will be a clear indication of espanso in the context menu.

Thanks for your feedback :)

[2020-03-23 18:31] federico-terzi commented on #164
@johnrichardrinehart Unfortunately, I don't. I tried in many ways to reproduce the issue without any success...

[2020-03-23 18:33] federico-terzi commented on #207
Hey @oceanByte,

Sorry for the late reply. That is interesting indeed and most likely a bug! I'll take a look at it in the next few days so that, Hopefully, we can get this sorted out before the next release.

Cheers :)

[2020-03-23 18:36] federico-terzi commented on #210
Hey @markogley,

I'm sorry you are experiencing issues. Could you give us more information about the problem? Is it related to Homebrew?

Cheers :)

[2020-03-23 18:52] markogley commented on #210
I get this error:

Error: Your Command Line Tools are too outdated.
Update them from Software Update in the App Store or
https://developer.apple.com/download/more/.

I have the most up-to-date xcode for 10.13.6. When I installed Homebrew it made reinstall commandline tools.

[2020-03-23 19:03] federico-terzi commented on #210
That is definitely a problem on the Homebrew side. If you are brave enough, you could try the Manual installation detailed below. Otherwise, stay tuned as in the next few releases I'll try to convert espanso to an App, which should make it super easy to install on macOS.

### Manual Installation

1. Download the `espanso-mac.tar.gz` executable from the [Releases page](https://github.com/federico-t

[2020-03-24 20:00] grahamjpark opened #211 "Extend Timeout for Scripts"
I'm trying to get a script working that performs a get request. It seems like the request is taking too long and nothing is being populated. The script works fine when I run it, and if I take out the request in the script espanso runs fine.

I believe that espanso is cutting the script short for taking too long. Is that right? Is there a reason for cutting it off?

[2020-03-24 20:09] johnrichardrinehart commented on #164
In the grand scheme of things that's just fine with me.

Thanks @federico-terzi .

[2020-03-24 20:09] #164 closed

[2020-03-24 20:16] federico-terzi commented on #211
Hey @grahamjpark,

That's super strange, as there is no timeout for script commands!
Could you please share an example so I can reproduce it?

Cheers :)

[2020-03-26 02:11] grahamjpark commented on #211
Thanks for the reply. When I looked over it with fresh eyes I realized it may have been because I was trying to read environment variables. You can see the script here:
https://github.com/grahamjpark/useful-scripts/blob/master/daily-template.py

Storing the key in file now instead and it's working great!

[2020-03-26 02:11] #211 closed

[2020-03-26 10:02] federico-terzi commented on #211
Hey @grahamjpark,

That's most likely it! As you may now imagine, the scripts that espanso executes inherit its environment variables, and probably they didn't include the one you were trying to use.

Glad you sorted it out, cheers :)

[2020-03-26 11:32] NeoTeo opened #212 "Unable to register espanso"
On macOS, when running `espanso register` (or even `sudo espanso register`) it fails with
`Path had bad ownership/permissions`

My home is on a different drive from the boot drive so it may cause problems if espanso is making some assumptions about ownership?

[2020-03-26 12:21] NeoTeo commented on #212
I have figured out the issue. The external drive had "Ignore ownership on this volume" enabled (set via the info view on the drive in Finder) and then I needed to change the ownership of the .plist to root:wheel with
`sudo chown root:wheel /SomeDrive/Users/SomeUser/Library/LaunchAgents/com.federicoterzi.espanso.plist`

[2020-03-26 12:21] #212 closed

[2020-03-26 13:10] federico-terzi commented on #212
Hey @NeoTeo,
Glad to hear you found a solution :)
Cheers

[2020-03-26 13:49] NeoTeo commented on #212
@federico-terzi Yes. Thought I'd leave it here for others to find.
Thank you for writing the tool. Very useful :)

[2020-03-26 13:52] NeoTeo opened #213 "passive mode without selection pastes clipboard contents."
Triggering the passive mode key combo (eg. CTRL twice) without having selected anything will paste the contents of the clipboard at the caret.

[2020-03-26 17:53] federico-terzi commented on #213
Hey @NeoTeo,

Thank you very much for the feedback, this is definitely a bug! I'll do my best to fix it in the next release and I'll let you know when it's ready to be tried out.

Cheers :)

[2020-03-26 19:44] federico-terzi opened #214 "Add Rich Text matches"
Many users requested this feature, which would make espanso capable of expanding rich text (text with formatting, such as bold, center, italic, images).

A typical use case would be in email signatures.

[2020-03-27 18:31] oceanByte commented on #207
I just tested the passive mode on a freshly installed MacOS Catalina (10.15.4 (19E266)) and the error still happens. Test cases (input => output):

**Test 1:** `:rev/arg1` => `/arg1`
**Result:** Espanso pastes first argument with a slash
**Test 2:** `:rev/arg1/` => `:rev/arg1/`
 **Result:** Espanso cuts the string and pastes the exact string back
**Test 3:** `:rev/arg1/arg2` => `arg2`
**Result:**

[2020-03-28 17:14] federico-terzi commented on #207
Hey @oceanByte,
I finally sorted it out! (honestly I find it pretty hilarious, and I'm sorry I've noticed only now).

Due to the way Jekyll (the templating engine I'm using for the documentation) works, the example in the docs got stripped out of the most important thing, the variable output!
You see, in the example you posted:

[code]

The output variable is not rendered anywhere! What you should

[2020-03-28 17:14] #207 closed

[2020-03-30 21:04] owzim opened #215 "Expansions take up to 8 seconds with certain keyboard layouts on linux"
Hi,

expansions sometimes take up to 8 seconds with a German keyboard layout on Pop!_OS 19.10 with very little (15 chars) multiline text. With an english qwerty layout it's the usual half a second. Any debug info you need from me? `espanso log` isn't too insightful.

[2020-03-30 21:24] WardsParadox commented on #138
After 10.15.4 application, this issue has gotten worse.
Log below:
[code]
During the start from it and now 14:24, No expansion has occurred.

[2020-03-30 21:30] bachya commented on #138
@WardsParadox You are several versions behind – can you upgrade and see if that helps?

[2020-03-30 21:31] WardsParadox commented on #138
Wow, didn't even check on that. Updating now.

[2020-03-30 21:35] WardsParadox commented on #138
No change in behavior.
[code]

[2020-03-30 21:53] federico-terzi commented on #215
Hey @owzim,

I'd guess it's due to the underlying libxdo implementation, which is changing the keyboard layout in order to type the German characters and that process could slow thing down a bit.

Could you please post  a reproducible example of this match?

In the meanwhile, you could use the Clipboard backend, which shouldn't suffer from these problems (though as you know it suffers from others)

[2020-03-30 21:57] federico-terzi commented on #138
Hey @WardsParadox,

I'm sorry you are still experiencing these issue, I'll look into it again as soon as I can.
Any idea on how I can reproduce the issue? How long do you keep the mac on sleep?

Cheers :)

[2020-03-31 05:41] maxandersen opened #216 "espanso running but not expanding"
not sure what triggers it but i noticed multiple times expansion stops working and now its just fully stopped.

i'm on OSX 10.15.3

[code]

i've tried espanso restart and it seem to make no difference.

[2020-03-31 09:43] federico-terzi commented on #216
Hey @maxandersen,

I'm sorry you are experiencing these issues, I still haven't figured out why, but after the Catalina update things got problematic on macOS. I have a couple of questions for you:

* Does it always happen or only after waking up from sleep?

In one of the moments in which espanso becomes unresponsive, could you please execute these commands and post the output here?

[code]

Coul

[2020-03-31 13:13] federico-terzi commented on #138
For everyone having this problem, I suggest you the following procedure:

1. Stop espanso with `espanso stop`
2. remove all the espanso entries in the Security & Privacy > Accessibility tab of the settings
3. Register espanso again in the accessibility pane using `espanso register`

I still wasn't able to reproduce this problem on my machines, but I've read online that accessibility permissions on

[2020-03-31 14:29] maxandersen commented on #216
I haven't spotted the pattern yet but from sleep could be the case ...but not sure.

[code]

[code]

so the id points to iterm 2...if I restart iterm2 then  espanso works again!

Does that also explain why I can't use espanso in iterm2 in general ?

[2020-03-31 14:55] federico-terzi commented on #216
Hey @maxandersen,

I think that could be it! Searching online it seems that iTerm2 enables SecureInput by default (which makes the OS block any text expansion). Luckily, it seems like you can disable SecureInput on iTerm2 quite easily, check out [this forum post](https://gitlab.com/gnachman/iterm2/issues/3937).

In that way, you should be able to use espanso without problems. Let me know if that w

[2020-04-01 07:45] maxandersen commented on #216
yeah, I noticed textexpander actually had a popup warning about process X by name having blocked secure input. would be nice with similar warning.

I'll try disable iterm2 secureinput and see if that helps me ;)

[2020-04-01 08:09] federico-terzi opened #217 "Add option to force clipboard use on a per-match basis"

[2020-04-01 08:19] federico-terzi commented on #216
Yesterday I was fiddling with the idea of a notification to warn the user about it. As far as I could read in the TextExpander docs, it uses a 15 seconds polling to detect SecureInput and that would be quite easy to implement. My only concern is whether it could affect efficiency/battery life.

[2020-04-01 09:35] maxandersen commented on #216
turn it of if laptop is running on battery ?

[2020-04-01 13:29] federico-terzi commented on #216
That could be a valid idea. After a bit of experimentation, I might have found a relatively efficient way to check it which shouldn't have a big impact on battery life. I'll let you know once is ready to try :)

[2020-04-02 09:36] federico-terzi opened #218 "Remove git2 dependency"
Currently espanso uses the git2 library to download packages, but this comes with a few downsides.
In particular, on macOS the user is required to install openssl, which is inconvenient in some circumstances.

By removing this dependency, espanso could be easier to install in many circumstances, especially with the upcoming features.

The packages will be then installed via HTTPS using the (alread

[2020-04-03 17:42] federico-terzi commented on #113
This is now mentioned in the documentation, so I'm closing the issue

[2020-04-03 17:42] #113 closed

[2020-04-03 18:47] #209 closed

[2020-04-03 18:47] #217 closed

[2020-04-03 19:17] federico-terzi commented on #215
Hey,
In the last version (0.5.4) I added an option to force a specific match to be applied through the Clipboard. Therefore, you could now keep the Auto backend and then flag the problematic matches as Clipboard only with the `force_clipboard` option:

[code]

Cheers :)

[2020-04-03 19:29] federico-terzi commented on #167
Hey,
I'm going to close this issue as it's been a while since the last follow up.
Let me know if you have other questions.
Cheers :)

[2020-04-03 19:29] #167 closed

[2020-04-03 19:32] federico-terzi commented on #123
Hey,
I'm going to close this issue as it's been a while and I don't think I'll be able to support this use case, as I only have a limited amount of time and therefore I have focus on more general issues :)
Let me know if you have other questions.
Cheers :)

[2020-04-03 19:32] #123 closed

[2020-04-03 19:33] federico-terzi commented on #202
Hey,
I'm going to close this issue, thank you @rbreaves for your help :)
Let me know if you have other questions.
Cheers :)

[2020-04-03 19:33] #202 closed

[2020-04-03 19:35] federico-terzi commented on #168
Hey @freebrowser1,

In the last version espanso removed its dependency on openssl, so this issue should be solved.
I'm going to close this issue, let me know if you have other questions.

Cheers :)

[2020-04-03 19:35] #168 closed

[2020-04-03 19:38] federico-terzi commented on #209
Hey,
now espanso list "Exit espanso" instead of "Exit" in the context menu. This should things more clear :)

[2020-04-04 10:01] smaragdus opened #220 "[Windows] Crash on Start"
When I start [espanso](https://espanso.org/) version [0.5.4](https://github.com/federico-terzi/espanso/releases/tag/v0.5.4) I get the following error message:

`The procedure entry point SetThreadDpiAwarenessContext could not be located in the dynamic link library C:\Portable Programs\espanso\espanso.exe.`

**screen:**

![espanso 0 5 4 - 2020-04-04 - error - 001](https://user-images.githubusercont

[2020-04-04 10:11] federico-terzi commented on #220
Hey @smaragdus,

I'm sorry you experienced this issue. Unfortunately, espanso is only supported on Windows 10 (and it always has been). This is due to a number of incompatibilities in Windows 8, that I wasn't able to solve.

I would really like to make espanso available to everyone, but as of now, I don't have the means to support also Windows 8. I hope you will understand :)

Cheers

[2020-04-04 10:11] #220 closed

[2020-04-04 10:34] smaragdus commented on #220
@federico-terzi

I understand but I am a bit surprised since programs which work under Windows 10 usually work under Windows 8 as well.

[2020-04-04 10:56] federico-terzi commented on #220
I was surprised as well when I initially experimented on Windows 8, and after a few hours of testing I gave up! In fact there were a couple of people that tried adding support for older versions of Windows, but considering I didn't hear anything back, I assume they didn't find it either :)

[2020-04-04 14:47] maxandersen commented on #209
perfect :)

[2020-04-05 13:43] killtux opened #221 "Play sound when espanso is triggered"
i would be nice to have an option for a sound notification the moment espanso is triggered. for example like "beeftext" for windows does. it should be simple and not too distracting.

[2020-04-05 13:51] federico-terzi commented on #221
Hey @killtux,

This could be a nice feature to have, I'll add it to the project roadmap :)
Do you have any suggestion for the sound?
If you could link me a good royalty free sound effect file, that could be a great help :)

Cheers

[2020-04-05 16:20] killtux commented on #221
I think that would be pretty simple and nice: https://notificationsounds.com/notification-sounds/clearly-602

[2020-04-05 17:54] federico-terzi commented on #221
That would be a great candidate indeed. In the same website I also liked this one: https://notificationsounds.com/sound-effects/pull-back-325

I will probably add both of them and let the user decide.

Thanks for your help :)

[2020-04-05 17:59] mggrn opened #223 "wlwl07777"

[2020-04-05 17:59] mggrn opened #224 "wlwl0777#223"

[2020-04-05 18:00] mggrn commented on #224
wlwl07777

[2020-04-05 18:05] federico-terzi commented on #223
Is this some sort of spam?

[2020-04-05 18:05] #223 closed

[2020-04-05 18:06] federico-terzi commented on #224
Is this some sort of spam?

[2020-04-05 18:06] #224 closed

[2020-04-05 18:10] mggrn opened #225 "Mm11223344"

[2020-04-05 18:13] mggrn commented on #224
wlwl07777

[2020-04-05 18:13] mggrn opened #226 "wlwl07777"

[2020-04-05 18:17] federico-terzi commented on #225
Ok this is enough, I blocked you from the repo.
I don't like to be harsh, but this kind of behavior is not welcome in this repository.

[2020-04-05 18:17] #225 closed

[2020-04-05 18:17] #226 closed

[2020-04-05 20:08] Pachareepongsri753 opened #227 "ต้องการ​อัปเดต​เวอร์​ชั่นใหม่​บน​เครื่อง"

[2020-04-05 20:10] Pachareepongsri753 commented on #227
ปิด